.blank-link {
  position: relative;
  display: inline-block;
  padding-left: 25px;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
  text-decoration: none;

  &:hover {

    span {
      border-bottom-color: #41e6a0;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 16px;
    height: 20px;
    background-image: url("../img/inline/icon-report.svg");
    transform: translateY(-50%);
  }

  span {
    border-bottom: 1px solid rgba(51, 51, 51, 0.15);
    transition-duration: 0.15s;
    transition-property: border-bottom-color;
  }
}

@media (max-width: $mobile-container-width) {

  .blank-link {
    width: 170px;
    padding-left: 45px;
    margin-left: auto;
    margin-right: auto;

    &::before {
      left: 20px;
    }
  }
}
