head
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width,initial-scale=1")
  meta(name="format-detection" content="telephone=no")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  link(href="css/style.css" rel="stylesheet")
  link(rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon.png")
  link(rel="icon" type="image/png" sizes="32x32" href="img/favicons/favicon-32x32.png")
  link(rel="icon" type="image/png" sizes="16x16" href="img/favicons/favicon-16x16.png")
  link(rel="manifest" href="img/favicons/manifest.json")
  link(rel="mask-icon" href="img/favicons/safari-pinned-tab.svg" color="#5bbad5")
  link(rel="shortcut icon" href="img/favicons/favicon.ico")
  meta(name="msapplication-config" content="img/favicons/browserconfig.xml")
  meta(name="theme-color" content="#ffffff")
  block head
  title= pageTitle || "no title"
  if (!developmentMode)
    include ../../widgets/google-tag-manager.html
