mixin teacher-card(item)
  .teacher-card(class=item.mod ? "teacher-card--" + item.mod : "")
    if item.vk
      a.teacher-card__vk(href=item.vk target="_blank") vk
    .teacher-card__content
      .teacher-card__info
        h3.teacher-card__name!= item.name
        .teacher-card__subject!= item.subject
      if item.education
        .teacher-card__param
          .teacher-card__param-title Образование
          if item.education.length > 1
            ul.teacher-card__param-value
              each param in item.education
                li.teacher-card__param-li!= param
          else
            .teacher-card__param-value!= item.education[0]
      if item.expirience
        .teacher-card__param
          .teacher-card__param-title Опыт
          if item.expirience.length > 1
            ul.teacher-card__param-value
              each param in item.expirience
                li.teacher-card__param-li!= param
          else
            .teacher-card__param-value!= item.expirience[0]
    button.teacher-card__toggle-button Подробнее...
    if item.isFree
      a.button.button--slim.teacher-card__btn(href=item.href tabindex="-1")
        span Записаться&nbsp;
        span.teacher-card__mobile-hide на консультацию
    else
      .teacher-card__busy Преподаватель в&nbsp;данный момент занят. Как только он&nbsp;освободится, вы&nbsp;сможете записаться к&nbsp;нему на&nbsp;консультацию.
