.teacher-card {
  position: relative;
  padding-top: 400px;
  text-align: left;
  background-size: 100% 400px;
  background-repeat: no-repeat;
  background-image: url("../img/teacher-mersalova.jpg");
  border-radius: 3px 55px 0 0;
  background-color: #ffffff;

  &--mersalova {
    background-image: url("../img/teacher-mersalova.jpg");
  }

  &--tsareva {
    background-image: url("../img/teacher-tsareva.jpg");
  }

  &--dolgusheva {
    background-image: url("../img/teacher-dolgusheva.jpg");
  }

  &--handorina {
    background-image: url("../img/teacher-handorina.jpg");
  }

  &--sythutdinova {
    background-image: url("../img/teacher-sythutdinova.jpg");
  }

  &--krivorotov {
    background-image: url("../img/teacher-krivorotov.jpg");
  }

  &--galkina {
    background-image: url("../img/teacher-galkina.jpg");
  }

  &__vk {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 30px;
    height: 30px;
    font-size: 0;
    background-color: #ffffff;
    background-image: url("../img/inline/icon-vk.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    transition-duration: 0.15s;
    transition-property: background-image;

    &:hover {
      background-image: url("../img/inline/icon-vk--hover.svg");
    }
  }

  &__content {
    padding: 21px 30px 24px;
    background-color: #ffffff;
  }

  &__info {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 23px;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 290px;
      height: 1px;
      background-image: linear-gradient(to left, #ffffff, #ebebeb);
    }
  }

  &__name {
    max-width: 270px;
    margin-top: -5px;
    margin-bottom: 0;
    font-size: 25px;
    font-weight: 400;
    line-height: (35/25);
  }

  &__subject {
    @include marked-text;

    font-size: 16px;
    line-height: 25px;
  }

  &__param {
    position: relative;
    padding-top: 18px;
    padding-bottom: 19px;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 290px;
      height: 1px;
      background-image: linear-gradient(to left, #ffffff, #ebebeb);
    }
  }

  &__param-title {
    @include subtitle;

    font-size: 21px;
    line-height: (30/21);
  }

  &__param-value {
    @include list-reset;

    font-size: 16px;
    line-height: (30/16);
  }

  &__param-li {
    position: relative;
    padding-left: 15px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 13px;
      width: 5px;
      height: 5px;
      background-color: #333333;
      border-radius: 50%;
    }
  }

  &__circle {
    @include circle--small;
    z-index: 1;
  }

  &__btn {
    padding-bottom: 18px;
    margin-left: 29px;
    margin-right: 29px;
    margin-bottom: 25px;
  }

  &__busy {
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    margin-left: 31px;
    margin-right: 29px;
    padding-bottom: 18px;
  }

  &__toggle-button {
    display: none;
  }
}

@media (max-width: $tablet-container-width) {

  .teacher-card {
    width: 690px;
    margin: 0 auto;
    background-size: 100% auto;
    padding-bottom: 30px;
    border-radius: 3px 70px 0 0;

    &::before {
      position: absolute;
      content: "";
      bottom: 113px;
      left: 0;
      width: 630px;
      margin-left: 30px;
      margin-right: 30px;
      height: 1px;
      background-image: linear-gradient(to left, #ffffff, #ebebeb);
    }

    &__content {
      position: relative;
      height: 430px;
      overflow: hidden;
      margin-bottom: 54px;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 60px;
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #ffffff);
      }
    }

    &__param-li {
      margin-bottom: 10px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    &__info::after {
      width: 100%;
    }

    &__btn {
      margin-top: 25px;
      padding-bottom: 18px;
      margin-left: 29px;
      margin-right: 29px;
      margin-bottom: 0;
    }

    &__busy {
      position: relative;
      margin-top: 80px;
      margin-left: 29px;
      margin-right: 29px;
      padding-bottom: 18px;

      &::before {
        position: absolute;
        content: "";
        top: -25px;
        left: 0;
        width: 629px;
        height: 1px;
        background-image: linear-gradient(to left, #ffffff, #ebebeb);
      }
    }

    &__toggle-button {
      position: absolute;
      bottom: 135px;
      left: 29px;
      display: block;
      background-color: transparent;
      border: none;
      padding: 0;
      font-size: 16px;
      cursor: pointer;

      &::after {
        position: absolute;
        display: block;
        content: "";
        width: 100%;
        height: 1px;
        background-color: #e1e1e1;
        bottom: 0;
      }

      &--hide {
        display: none;
      }
    }

    &__content--full-height {
      height: auto;
      min-height: 430px;
    }
  }
}

@media (max-width: $mobile-container-width) {

  .teacher-card {
    width: 280px;
    margin: 0 auto;
    background-size: 100% auto;
    padding-top: 207px;
    padding-bottom: 20px;

    &__content {
      padding-left: 20px;
      padding-right: 20px;
    }

    &::before {
      width: 100%;
    }

    &__info {
      display: flex;
      flex-direction: column;

      &::after {
        width: 100%;
      }
    }

    &__name {
      margin-bottom: 5px;
    }

    &__btn {
      border-radius: 50px;
      width: 240px;
      padding-left: 0;
      padding-right: 0;
      margin-top: 45px;
      margin-left: 19px;
      margin-right: 21px;

      &:hover {
        width: 240px;
        padding-left: 0;
        padding-right: 0;
        margin-left: 19px;
        margin-right: 21px;
      }
    }

    &__busy {
      margin-top: 36px;
      margin-left: 20px;
      margin-right: 20px;
      font-size: 16px;

      &::before {
        width: 100%;
      }
    }

    &__toggle-button {
      position: relative;
      bottom: 0;
    }

    &__content--full-height {
      height: auto;
      min-height: 480px;
    }

    &__mobile-hide {
      display: none;
    }
  }
}
