.page-footer {
  padding-top: 19px;
  color: #ffffff;
  background-image: linear-gradient(to right, #2d7df0, #8c2df0);

  &--no-top-gap {
    padding-top: 0;
  }

  &__inner {
    @include container;

    lost-center: $desktop-content-width;
    align-items: baseline;
    padding-bottom: 5px;
    font-size: 16px;
    line-height: 30px;
  }

  &__call-me {
    margin-top: 90px;
    margin-bottom: 65px;
    padding: 91px 200px;
    font-size: 21px;
    line-height: (30/21);
    text-align: center;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 3px;

    &--near {
      margin-top: 30px;
    }
  }

  &__link {
    @include link;
  }

  &__column {
    lost-column: 1/3;

    &--left {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    &--center {
      text-align: center;
    }

    &--right {
      text-align: right;
    }
  }

  &__copyright {
    margin-bottom: 15px;
  }

  &__user-agreement {
    @include link;

    display: block;
    padding-bottom: 2px;
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 18px;
  }

  &__social {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 46px;
    color: inherit;
    font-size: 0;
    text-decoration: none;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: bottom;
    transition-duration: 0.15s;
    transition-property: background-image;

    &--vk {
      background-image: url("../img/inline/icon-footer-vk.svg");

      &:hover {
        background-image: url("../img/inline/icon-footer-vk--hover.svg");
      }
    }

    &--tg {
      background-image: url("../img/inline/icon-footer-tg.svg");

      &:hover {
        background-image: url("../img/inline/icon-footer-tg--hover.svg");
      }
    }
  }

  &__marketing {
    position: relative;
    z-index: 5;
    display: flex;
    align-items: center;
    color: inherit;
    text-decoration: none;
    justify-content: flex-end;
  }

  &__done {
    z-index: 1;
    display: inline-block;
    width: 125px;
    height: 24px;
    margin-left: 8px;
    font-size: 0;
    background-image: url("../img/inline/logo-done.png");
    background-size: 125px 24px;
    transform: translateX(5px);
  }
}

@media (max-width: $tablet-container-width) {

  .page-footer {
    box-sizing: border-box;
    width: 100%;
    padding-left: 39px;
    padding-right: 39px;

    &__inner {
      position: relative;
      max-width: 1110px;
      min-width: 690px;
      width: 100%;
    }

    &__column {
      lost-column: 1/1;

      &--left {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
      }

      &--center {
        width: 100%;
        position: absolute;
        bottom: 64px;
        right: -35px;
      }

      &--right {
        text-align: left;
      }

      &:nth-child(1n) {
        width: 200px;
        margin-right: 0;
        margin-left: auto;
      }
    }

    &__marketing {
      justify-content: flex-start;
    }

    &__social--vk {
      margin-left: 45px;
    }

    &__tablet-none {
      display: none;
    }

    &__copyright {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 10px;

      & .page-footer__copyright-margin:nth-of-type(3n+3) {
        text-align: right;
      }

      & .page-footer__copyright-margin:nth-of-type(3n+1) {
        text-align: left;
      }

      & .page-footer__copyright-margin:nth-of-type(4) {
        text-align: center;
      }

      & .page-footer__copyright-margin:nth-of-type(5) {
        text-align: left;
      }
    }

    &__copyright-margin {
      text-align: center;
      width: 33%;
      margin-bottom: 10px;
      flex-basis: content;


      &--mail {
        order: 2;
        margin-right: auto;
      }
    }


    &__user-agreement {
      @include link;

      display: block;
      padding-bottom: 2px;
      margin-bottom: 34px;
      font-size: 16px;
      line-height: 18px;
      margin-right: 31px;
    }

    &__call-me {
      box-sizing: border-box;
      max-width: 1110px;
      min-width: 690px;
      width: 100%;
      padding: 80px 60px;
      padding-bottom: 71px;
    }

    &__marketing--tablet {
      width: 100%;
      position: relative;
      z-index: 5;
      display: flex;
      align-items: center;
      color: inherit;
      text-decoration: none;
      justify-content: flex-start;
      margin-bottom: 5px;
    }

    &__tablet {
      width: 100%;
      display: flex;
      justify-content: space-between;

      &-left {
        text-align: left;
      }

      &-center {
        text-align: center;
      }

      &-right {
        text-align: right;
      }

      &-text {
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }
}

@media (max-width: $mobile-container-width) {

  .page-footer {
    max-width: $mobile-container-width;
    min-width: $mobile-content-width;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;

    &__inner {
      max-width: 280px;
      min-width: 280px;
      width: 280px;
    }

    &__column--left {
      position: relative;
      margin-bottom: 45px;

      &::after {
        position: absolute;
        content: "";
        left: 0;
        right: 0;
        bottom: -20px;
        margin: auto;
        width: 30px;
        height: 1px;
        background-color: #ffffff;
        opacity: 0.2;
      }
    }

    &__user-agreement {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10px;
    }

    &__social--vk {
      margin-left: 0;
      padding-top: 35px;
    }

    &__social--tg {
      padding-top: 35px;
    }

    &__copyright {
      position: relative;
      width: 100%;
      text-align: center;
      margin-bottom: 55px;

      &::after {
        position: absolute;
        content: "";
        left: 0;
        right: 0;
        bottom: -25px;
        margin: auto;
        width: 30px;
        height: 1px;
        background-color: #ffffff;
        opacity: 0.2;
      }

      & .page-footer__copyright-margin:nth-of-type(3n+3) {
        text-align: center;
      }

      & .page-footer__copyright-margin:nth-of-type(3n+1) {
        text-align: center;
      }

      & .page-footer__copyright-margin:nth-of-type(5) {
        text-align: center;
      }

      & .page-footer__copyright-margin {
        margin: 0 auto;
      }
    }

    &__copyright-margin {
      width: 100%;
    }

    &__done {
      margin-left: -8px;
    }

    &__call-me {
      box-sizing: border-box;
      max-width: 280px;
      min-width: 280px;
      width: 280px;
      font-size: 16px;
      line-height: 1.6em;
      padding: 23px;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    &__column--center {
      display: inline;
      position: relative;
      top: 0;
      left: 0;
      right: 0;
      margin: auto;
      margin-bottom: 20px;
    }

    &__column--right {
      display: flex;
      justify-content: center;
    }

    &__marketing {
      width: 137px;
      display: flex;
      flex-direction: column;
      margin-bottom: 60px;
    }
  }
}
