footer.page-footer(class=(pageId !== 0) ? "page-footer--no-top-gap" : "")
  if pageId !== 0
    .page-footer__inner
      .page-footer__call-me(class=callMeMod ? "page-footer__call-me--" + callMeMod : "") Если у&nbsp;вас есть вопросы, позвоните нам по&nbsp;телефону +7&nbsp;(499)&nbsp;130&nbsp;16&nbsp;80 или <a class="page-footer__link" data-modal="callback">закажите обратный звонок</a>, и&nbsp;мы&nbsp;сами свяжемся с&nbsp;вами.
  .page-footer__inner
    .page-footer__column.page-footer__column--left
      .page-footer__copyright <span class="page-footer__copyright-margin">ИП Ткачева А.Д.</span> <br class="page-footer__tablet-none"> <span class="page-footer__copyright-margin">ОГРНИП 316965800186653</span> <br class="page-footer__tablet-none"> <span class="page-footer__copyright-margin">ИНН 663000404518</span> <br class="page-footer__tablet-none"> <span class="page-footer__copyright-margin page-footer__copyright-margin--mail">info@podgotovkakege.com</span><span class="page-footer__copyright-margin"> <span class="page-footer__tablet-none"> &#8260; </span> +7 (499) 130-16-80 </span>
      a.page-footer__user-agreement(href="copyright.pdf" target="_blank") Заявление об авторском праве
      a.page-footer__user-agreement(href="privacy-policy.pdf" target="_blank") Политика конфиденциальности
    .page-footer__column.page-footer__column--center
      .page-footer__follow-us Следите за нами
      a.page-footer__social.page-footer__social--vk(href="//vk.com/podgotovka_k_ege" target="_blank" data-ya="order11") vk
      a.page-footer__social.page-footer__social--tg(href="//t.me/schoolfire" target="_blank" data-ya="order12") telegram
    .page-footer__column.page-footer__column--right
      a.page-footer__marketing(href="//donepro.ru" target="_blank") Разработка сайта <span class="page-footer__done">DONE Маркетинг</span>
