extends ../layout/layout

include ../../blocks/button/button
include ../../blocks/field-text/field-text
include ../../blocks/blank-link/blank-link

block head
  - var pageTitle = "О школе";
  - var pageId = 3;
  - var openedSubscriptionMod = 'plain-bg';
  - var openedSubscriptionTitle = "Сдать ЕГЭ на 100 баллов";
  - var guaranteeMod = 'texture-bg';

block content
  include ../../blocks/page-header/page-header
  include ../../blocks/video/video
  include ../../blocks/teachers/teachers
  include ../../blocks/guarantee/guarantee
  include ../../blocks/opened-subscription/opened-subscription
  include ../../blocks/page-footer/page-footer
  include ../../blocks/modal/modal
  include ../../blocks/modal-side/modal-side
  .modal-callback
    include ../../blocks/callback/callback.template.pug
  .modal-question
    include ../../blocks/question/question.template.pug
