extends ../layout/layout

block head
  - var pageTitle = "Блог";
  - var pageId = 5;

block content
  include ../../blocks/page-header/page-header
  include ../../blocks/blog/blog
  include ../../blocks/page-footer/page-footer
  include ../../blocks/modal/modal
  include ../../blocks/modal-side/modal-side
  .modal-callback
    include ../../blocks/callback/callback.template.pug
  .modal-question
    include ../../blocks/question/question.template.pug
