extends ../layout/layout
include ../../blocks/widget/widget

block head
  - var pageTitle = "Запись на консультацию";

block content
  +widget("Запись на консультацию", "d0e319be4fc97a185cc73a6660b27bbc6bff6cb2", "http://podgotovkakege.com/pl/lite/widget/script?id=19650")
