extends ../layout/layout
include ../../blocks/widget/widget

block head
  - var pageTitle = "Пройти полный тест";

block content
  +widget("Пройти полный тест", "11ad3fbb440ec0f5710d9e7e2d01afbba0f5508d", "http://podgotovkakege.com/pl/lite/widget/script?id=19641")
