extends ../layout/layout

block head
  - var pageTitle = "Готовим к ЕГЭ с гарантией высокого балла";
  - var pageId = 0;
  - var universitiesMod = 'near';

block content
  include ../../blocks/page-header/page-header
  include ../../blocks/offer/offer
  include ../../blocks/advantages/advantages
  include ../../blocks/training-options/training-options
  include ../../blocks/guarantee/guarantee
  include ../../blocks/universities/universities
  include ../../blocks/reviews/reviews
  include ../../blocks/process/process
  include ../../blocks/opened-subscription/opened-subscription
  include ../../blocks/page-footer/page-footer
  include ../../blocks/modal/modal
  include ../../blocks/modal-side/modal-side
  .modal-callback
    include ../../blocks/callback/callback.template.pug
  .modal-question
    include ../../blocks/question/question.template.pug
