extends ../layout/layout
include ../../blocks/widget/widget

block head
  - var pageTitle = "Запись на обучение";

block content
  +widget("Запись на обучение", "db8ab9b5ea4dc57f1a1bb4cfa5a60c873eb5eafd", "http://podgotovkakege.com/pl/lite/widget/script?id=15797")
    .widget__tabs
      //- a.widget__tab-link(href="six-month.html") Бронебойная подготовка 2.0
      a.widget__tab-link.widget__tab-link--active Ядрёный интенсив
      a.widget__tab-link(href="three-days-practice.html") Вспомнить всё
