extends ../layout/layout
include ../../blocks/article/article

block head
  - var pageTitle = "Как написать эссе на 14 баллов";
  - var pageId = 6;

block content
  include ../../blocks/page-header/page-header
  +article({
    title: 'Как написать эссе на&nbsp;14&nbsp;баллов',
    subject: "Английский язык",
    lead: 'Для того, чтобы получить за&nbsp;эссе 14&nbsp;баллов необходимо знать критерии оценивания эссе'
  })
  include ../../blocks/content/content
    block text
      p Обрати особое внимание на&nbsp;первые два критерия, ведь за&nbsp;них суммарно можно получить 6&nbsp;баллов.
      p Будет не&nbsp;логично, но&nbsp;начнём с&nbsp;разбора второго критерия:
      ol
        li Объем твоего эссе должен составлять 200-250 слов
        li Эссе должно быть выстроено логично
        li Придерживайся формального стиля
        li Не&nbsp;используй разговорные слова или выражения (well, you know)
        li Не&nbsp;используй сокращения (I&rsquo;m, doesn&rsquo;t)
        li Во&nbsp;всех абзацах используй слова-связки (besides, moreover, however)
      p Первый&nbsp;же критерий означает, что ты&nbsp;должен чётко следовать плану&nbsp;&mdash; в&nbsp;эссе должно быть пять абзацев. Давай разберём, что должно быть в&nbsp;каждом из них:
      ol
        li Введение. По&nbsp;сути, здесь тебе надо перефразировать проблему, данную в задании, и&nbsp;общими словами описать проблему, сказав, что существует две точки зрения.
        li Твоё мнение. Вырази своё мнение по&nbsp;этому вопросу (за&nbsp;или против). Приведи 2-3&nbsp;аргумента.
        li Противоположная точка зрения. Выражаем противоположную точку зрения, аргументируя 1-2&nbsp;доводами.
        li Выражение несогласия с&nbsp;предыдущей точкой зрения + 1-2 контраргумента (не&nbsp;будьте категоричны (it&nbsp;is&nbsp;not true&nbsp;/ I&nbsp;completely disagree), будьте вежливы, как англичане)
        li Заключение. Ещё раз переформулировали тему задания (снова другими словами) и&nbsp;ещё раз выразили свою точку зрения (синонимами).
      p Правильное написание эссе имеет большое значение, потому что за&nbsp;него можно получить много баллов. И&nbsp;еще одно очень важное правило: когда ты тренируешься в&nbsp;написании эссе, всегда прописывай его полностью и&nbsp;от&nbsp;руки, чтобы исправить ошибки правописания (пунктуации) и&nbsp;научиться писать быстрее. Каждый год есть прецеденты, когда выпускники не&nbsp;успевают переписать/дописать эссе в&nbsp;чистовик и&nbsp;получают 0&nbsp;баллов.
  include ../../blocks/page-footer/page-footer
  include ../../blocks/modal/modal
  include ../../blocks/modal-side/modal-side
  .modal-callback
    include ../../blocks/callback/callback.template.pug
  .modal-question
    include ../../blocks/question/question.template.pug
