extends ../layout/layout
include ../../blocks/widget/widget

block head
  - var pageTitle = "Запись на консультацию";

block content
  +widget("Запись на консультацию", "28eccc0bd6c71321bb43206de7bb6c6118fc8ede", "http://podgotovkakege.com/pl/lite/widget/script?id=19647")
