extends ../layout/layout
include ../../blocks/widget/widget

block head
  - var pageTitle = "Получить 5+ лайфхаков";

block content
  +widget("Получить 5+ лайфхаков", "7072545adf1cd17f13f2483c4efc0ef241667624", "http://podgotovkakege.com/pl/lite/widget/script?id=19369")
