extends ../layout/layout

block head
  - var pageTitle = "Полезные материалы";
  - var pageId = 6;

block content
  include ../../blocks/page-header/page-header
  include ../../blocks/materials/materials
  include ../../blocks/page-footer/page-footer
  include ../../blocks/modal/modal
  include ../../blocks/modal-side/modal-side
  .modal-callback
    include ../../blocks/callback/callback.template.pug
  .modal-question
    include ../../blocks/question/question.template.pug
