extends ../layout/layout
include ../../blocks/widget/widget

block head
  - var pageTitle = "Запись на консультацию";

block content
  +widget("Запись на консультацию", "79a72a98a55ae12a2b9c5f3fe2aefaa8c42e5fe8", "http://podgotovkakege.com/pl/lite/widget/script?id=19649")
