extends ../layout/layout
include ../../blocks/article/article

block head
  - var pageTitle = "План написания Эссе по Обществознанию";
  - var pageId = 6;

block content
  include ../../blocks/page-header/page-header
  +article({
    title: "План написания Эссе по&nbsp;Обществознанию",
    subject: "Обществознание",
    lead: ""
  })
  include ../../blocks/content/content
    block text
      ol
        li Проблема (в&nbsp;данном высказывании автор поднимает глубокую проблему... (ПЕРЕФРАЗИРОВАТЬ ЦИТАТУ))
        li Актуальность (эта проблема актуальна во&nbsp;все времена, ведь еще издавна люди задумывались&nbsp;о... (ПЕРЕФРАЗИРОВАТЬ ЦИТАТУ))
        li Мнение автора (автор убежден в&nbsp;том, что... (ПЕРЕФРАЗИРОВАТЬ ЦИТАТУ))
        li Мое мнение (я&nbsp;разделяю мнение автора и&nbsp;я&nbsp;считаю, что... (ПЕРЕФРАЗИРОВАТЬ ЦИТАТУ))
        li Теоретическая база (для более детального рассмотрения темы обратимся к терминам, итак... ТЕРМИНЫ С&nbsp;ОПРЕДЕЛЕНИЯМИ)
        li Пример &#8470;&nbsp;1
        li Пример &#8470;&nbsp;2
        li Вывод (я&nbsp;еще раз убедился/убедилась в&nbsp;мудрости высказывания автора, ведь действительно... ПЕРЕФРАЗИРОВАТЬ)
      p Вот такие 8&nbsp;пунктов. Что&nbsp;же касается разделения твоей работы по&nbsp;абзацам. здесь требования не&nbsp;очень четкие. Поэтому допускается объединение 1&nbsp;и&nbsp;2 пунктов, 4&nbsp;и&nbsp;5&nbsp;пунктов. Это ты&nbsp;уже посмотришь по&nbsp;объему, если мало будет получаться, тогда смело объединяй.
      p Как ты&nbsp;видишь, главная проблема здесь будет с&nbsp;перефразом, а&nbsp;не&nbsp;с историческими примерам. Только представь, что в&nbsp;идеале тебе нужно 5&nbsp;раз говорить об&nbsp;одном и&nbsp;том&nbsp;же разными словами :)
      p Часто встречается такая ошибка, что ребята ориентируются на&nbsp;сочинение по русскому и&nbsp;стараются еще сузить цитату, как в&nbsp;русском тексте. Не&nbsp;стоит так делать, потому что цитата уже маленькая и&nbsp;тебе надо писать про нее буквально, то&nbsp;есть не&nbsp;заморачивайся со&nbsp;скрытым смыслом, он&nbsp;там, конечно же, есть, но&nbsp;он&nbsp;тебе не&nbsp;нужен.
      p Теперь поговорим про темы для эссе. Как правило, твоему вниманию предлагается 5&nbsp;тем, которые ты&nbsp;должен так или иначе разобрать. Совет - пишем всегда либо политику, либо право.
      p Объяснить почему? Объясняю.
      p Так надо.
      p Во&nbsp;всех остальных темах можно слишком сильно уйти в&nbsp;свои размышления и уклониться от&nbsp;темы, чего делать категорически нельзя. Помни, что твои мысли и&nbsp;идеи в&nbsp;этом экзамене никому не&nbsp;нужны, есть шаблон, который необходимо соблюдать. В&nbsp;конце концов, это не&nbsp;сочинение на&nbsp;свободную тему, а&nbsp;четко структурированное эссе. Это первый аргумент.
      p Второй аргумент. Если ты&nbsp;выбираешь политику или право, велика вероятность того, что там будут слова, которые ты&nbsp;раскроешь как термины. государство, право, гражданское общество, власть и&nbsp;так далее. Термины - один из&nbsp;критериев оценки твоего эссе и&nbsp;ты&nbsp;не&nbsp;можешь их&nbsp;упустить, ну&nbsp;никак.
      p И&nbsp;еще, между нами говоря, по&nbsp;этим двум блокам темы всегда похожие.&nbsp;то есть в&nbsp;принципе, при усердной подготовке, ты&nbsp;можешь набрать 5-7 ключевых тем, запомнить по&nbsp;ним аргументы и&nbsp;все :)
  include ../../blocks/page-footer/page-footer
  include ../../blocks/modal/modal
  include ../../blocks/modal-side/modal-side
  .modal-callback
    include ../../blocks/callback/callback.template.pug
  .modal-question
    include ../../blocks/question/question.template.pug
