extends ../layout/layout
include ../../blocks/article/article

block head
  - var pageTitle = "План сочинения по истории";
  - var pageId = 6;

block content
  include ../../blocks/page-header/page-header
  +article({
    title: 'План сочинения по&nbsp;истории',
    subject: "История",
    lead: "Ребята, которые планируют сдавать историю, думаю, уже знают, что в&nbsp;этом году ввели новое задание&nbsp;&mdash; историческое сочинение. Нет никаких рекомендаций, никаких планов и&nbsp;пояснений. Все, что мы&nbsp;имеем&nbsp;&mdash; это критерии к&nbsp;демоверсии варианта по&nbsp;истории 2016&nbsp;года."
  })
  include ../../blocks/content/content
    block text
      p Я&nbsp;очень внимательно изучила эти критерии, посоветовалась с&nbsp;несколькими знакомыми экспертами, которые тоже ничего толком не&nbsp;знают и&nbsp;ждут указаний свыше, и&nbsp;составила план, который необходимо использовать при написании этого сочинения. Итак, для начала нужно выбрать исторический период, про который ты будешь писать.
      ol
        li Укажите хронологические рамки периода, дайте ему краткую характеристику ОБЯЗАТЕЛЬНО укажите события, которые вы&nbsp;будете далее раскрывать подробно. Рекомендуем перечислять не&nbsp;менее 3-4-х событий. За&nbsp;это вы&nbsp;получаете 2&nbsp;балла. Примечание: иногда название периоду дать сложно, например, 1533-1564 &mdash; это период правления Ивана Грозного, но&nbsp;не&nbsp;весь. В&nbsp;связи с&nbsp;этим используйте фразы: &laquo;данный период относится ко&nbsp;времени правления Ивана IV. В&nbsp;этот временной промежуток произошли такие события ....&raquo; если&nbsp;Вы напишите&laquo;1533-1564&nbsp;&mdash; это период правления Ивана Грозного, то&nbsp;возникает логическое заключение, что в&nbsp;1564 году Иван Грозный перестал править.
        li Характеристика исторической личности, с&nbsp;указанием конкретных действий, в&nbsp;значительной степени повлиявших на&nbsp;ход или результат указанных событий. Обратите внимание, что исторические личности должны совершать действия, которые связаны с&nbsp;ВОЛЕВЫМИ действиями, то&nbsp;есть такие положения как: занимал должность, стал отцом/матерью, имел титул, участвовал в&nbsp;битве, ходил в&nbsp;поход, правил и&nbsp;т.д. НЕ&nbsp;ПОДХОДЯТ. Сказал, показал, руководил работой комиссии, высказывал мнение, выбрал местность, отвел поляков (Иван Сусанин), спроектировал, написал картину и т.д. &mdash;&nbsp;конкретные действия. Как вписать личность в&nbsp;сочинение? Между причинно-следственной связью. Причиной Куликовской битвы стало.... Важную роль в&nbsp;данном сражении сыграл монах Пересвет, который..... Следствием Куликовской битвы стало....
        li Описание первого исторического факта и&nbsp;вытекающего из&nbsp;него другого события. Событие берем из&nbsp;первого абзаца. Очень важно здесь не&nbsp;просто описать событие, но&nbsp;и&nbsp;раскрыть связь с&nbsp;другим, как это повлияло на&nbsp;что&nbsp;&mdash; либо в&nbsp;дальнейшем. Это один из&nbsp;критериев и&nbsp;важно его соблюсти. Не&nbsp;выходим за&nbsp;рамки периода. Причинно-следственную связь выделяем маркерами &laquo;причина&raquo; и &laquo;следствие&raquo;. Выбирайте события, в&nbsp;которых причинно-следственная связь очевидна, и&nbsp;сами события не&nbsp;являются чересчур сложными, то&nbsp;есть расписывать причины и&nbsp;следствия Гражданской войны будет сложно и&nbsp;можно допустить ошибки.
        li Здесь по&nbsp;той&nbsp;же самой технологии, что и&nbsp;в&nbsp;первом абзаце, описываем следующее событие, причинно&nbsp;&mdash; следственную связь, и&nbsp;вытекающее второе событие. В&nbsp;главной части должно быть столько абзацев, сколько событий и&nbsp;связей ты хочешь описать и&nbsp;раскрыть, но&nbsp;не&nbsp;меньше двух. Все это мы&nbsp;берем из&nbsp;первого абзаца и&nbsp;раскрываем уже более подробно.
        li Теперь самое сложное, нужно оценить личность и&nbsp;правление данного человека в&nbsp;истории, опираясь на&nbsp;факты. Историков не&nbsp;берем, так как это лишняя нагрузка. Но&nbsp;если есть особое желание&nbsp;&mdash; пожалуйста.
      p В&nbsp;подведении итогов используйте факты, о&nbsp;которых в&nbsp;сочинении еще не упоминали. В&nbsp;связи с&nbsp;этим, в&nbsp;первом абзаце не&nbsp;стоит перечислять абсолютно все, что вы&nbsp;знаете о&nbsp;периоде. Без фактов&nbsp;&mdash; 0&nbsp;баллов. Последнее предложение должно показывать, как данный период повлиял на последующий. Обязательно! Здесь выходим за&nbsp;временные рамки. Например, экономическая политика Алексея Михайловича стала основой для будущих реформ Петра&nbsp;I. (немного подробнее, конечно) Это и&nbsp;будет засчитываться как вывод.
      p Итак, сколько у&nbsp;нас абзацев?
      ol
        li Характеристика + события
        li Раскрываем первое событие + первая личность
        li Раскрываем второе событие + вторая личность
        li Страховка: третье событие + третья личность
        li Вывод.
      p Но&nbsp;это ещё не&nbsp;все. То, что выше&nbsp;&mdash; это содержание абзацев. А&nbsp;теперь о некоторых критериях, за&nbsp;которые тоже дают баллы.
      ol
        li Использование исторических терминов. То&nbsp;есть в&nbsp;своем сочинении нужно использовать слова, которые применялись в&nbsp;ту&nbsp;или иную эпоху. Сюда подойдут слова &laquo;князь&raquo;, &laquo;дружина&raquo;, &laquo;феодальная раздробленность&raquo; и&nbsp;так далее. Совершенно простые слова, которые употреблялись в&nbsp;какую&nbsp;&mdash; то&nbsp;из эпох. ПИСАТЬ ОПРЕДЕЛЕНИЯ НЕ&nbsp;НУЖНО,
        li Критерий&nbsp;К6 (2&nbsp;балла) начисляется только в&nbsp;том случае, когда за предыдущие 4&nbsp;критериев начислено более 4&nbsp;баллов. Не&nbsp;допускается выставление критерия&nbsp;К6, если есть фактические ошибки. В&nbsp;связи с&nbsp;этим, употребляем минимум дат, указываем только&nbsp;те, в&nbsp;которых уверены на&nbsp;100%.
        li Критерий К7&nbsp;начисляется тогда, когда за&nbsp;критерии К1-К4 выставлено не менее 4&nbsp;баллов и&nbsp;когда сочинение изложено последовательно, а&nbsp;не&nbsp;обрывками фраз. Никаких схем, таблиц и&nbsp;прочего быть не&nbsp;должно.
      p Всем удачи при подготовке!
  include ../../blocks/page-footer/page-footer
  include ../../blocks/modal/modal
  include ../../blocks/modal-side/modal-side
  .modal-callback
    include ../../blocks/callback/callback.template.pug
  .modal-question
    include ../../blocks/question/question.template.pug
