extends ../layout/layout

block head
  - var pageTitle = "Варианты подготовки";
  - var pageId = 1;
  - var callMeMod = "near";

block content
  include ../../blocks/page-header/page-header
  include ../../blocks/programs/programs
  include ../../blocks/page-footer/page-footer
  include ../../blocks/modal/modal
  include ../../blocks/modal-side/modal-side
  .modal-callback
    include ../../blocks/callback/callback.template.pug
  .modal-question
    include ../../blocks/question/question.template.pug
