extends ../layout/layout

block head
  - var pageTitle = "Отзывы";
  - var pageId = 2;
  - var openedSubscriptionMod = 'plain-bg';
  - var openedSubscriptionTitle = "Сдать ЕГЭ на 100 баллов";

block content
  include ../../blocks/page-header/page-header
  include ../../blocks/reviews/reviews
  include ../../blocks/universities/universities
  include ../../blocks/opened-subscription/opened-subscription
  include ../../blocks/page-footer/page-footer
  include ../../blocks/modal/modal
  include ../../blocks/modal-side/modal-side
  .modal-callback
    include ../../blocks/callback/callback.template.pug
  .modal-question
    include ../../blocks/question/question.template.pug
