extends ../layout/layout
include ../../blocks/widget/widget

block head
  - var pageTitle = "Запись на обучение";

block content
  +widget("Запись на обучение", "574d43c1ad8b7b412437d3444a6c98acaeb1824d", "http://podgotovkakege.com/pl/lite/widget/script?id=16205")
    .widget__tabs
      //- a.widget__tab-link.widget__tab-link--active Бронебойная подготовка 2.0
      a.widget__tab-link(href="intensive.html") Ядрёный интенсив
      a.widget__tab-link(href="three-days-practice.html") Вспомнить всё
