extends ../layout/layout
include ../../blocks/article/article

block head
  - var pageTitle = "Структура сочинения ЕГЭ по русскому языку";
  - var pageId = 6;

block content
  include ../../blocks/page-header/page-header
  +article({
    title: "Структура сочинения ЕГЭ по&nbsp;русскому языку",
    subject: "Русский язык",
    lead: ""
  })
  include ../../blocks/content/content
    block text
      ol
        li Проблема. Это основная мысль текста, которую хочет донести автор текста. Как правило, в&nbsp;тексте много проблем, нужно выбрать одну, которая либо самая главная, либо ты&nbsp;сможешь её&nbsp;аргументировать.
        li Комментарий. Комментарий&nbsp;&mdash; это пояснительные замечания, рассуждение по&nbsp;поводу выделенной вами проблемы текста. Твой комментарий должен связать проблему, которую вы&nbsp;сформулировали ранее, с&nbsp;авторской позицией, о которой ты&nbsp;будешь говорить позже: покажите ход мысли автора, как именно он&nbsp;раскрывает сформулированную проблему, подводя читателей к определенному выводу. Автор текста передает свои мысли, зашифровывает их&nbsp;словесно, а&nbsp;твоя задача &mdash;&nbsp;понять&nbsp;их, расшифровать. Комментарий показывает, насколько глубоко и полно ты&nbsp;понимаешь проблему.
        li Позиция автора. Здесь нужно говорить о&nbsp;чувствах автора, показывать, поддерживает&nbsp;ли автор героев или нет.
        li Твоя позиция. Мы&nbsp;всегда соглашаемся с&nbsp;автором, в&nbsp;любом случае, и&nbsp;подтверждаем его мысли своими, то&nbsp;есть перефразировать его мысли ещё раз и&nbsp;написать это в свою позицию.
        li Пример, подтверждающий мысль автора.
        li Пример, подтверждающий мысль автора.
        li Вывод.
      p Подводим итог. Обрати внимание на&nbsp;то, что итог должен быть в&nbsp;несколько строчек, а&nbsp;не&nbsp;просто &laquo;мы&nbsp;подтвердили мудрость автора&raquo;. 2-3 строчки должно быть в&nbsp;выводе, обязательно.
  include ../../blocks/page-footer/page-footer
  include ../../blocks/modal/modal
  include ../../blocks/modal-side/modal-side
  .modal-callback
    include ../../blocks/callback/callback.template.pug
  .modal-question
    include ../../blocks/question/question.template.pug
