extends ../layout/layout
include ../../blocks/widget/widget

block head
  - var pageTitle = "Запись на консультацию";

block content
  +widget("Запись на консультацию", "c57e84d0607196fb3ceb2a4cf4eee39acc568e62", "http://podgotovkakege.com/pl/lite/widget/script?id=19643")
