extends ../layout/layout
include ../../blocks/widget/widget

block head
  - var pageTitle = "Запись на обучение";

block content
  +widget("Запись на обучение", "39793d912cb77f167d4869d947619d00d447ab49", "http://podgotovkakege.com/pl/lite/widget/script?id=19775")
    .widget__tabs
      //- a.widget__tab-link(href="six-month.html") Бронебойная подготовка 2.0
      a.widget__tab-link(href="intensive.html") Ядрёный интенсив
      a.widget__tab-link.widget__tab-link--active Вспомнить всё
    div
      .widget__tabs
        a.widget__tab-link.widget__tab-link--active С практикой
        a.widget__tab-link(href="three-days-no-practice.html") Без практики
