extends ../layout/layout
include ../../blocks/widget/widget

block head
  - var pageTitle = "Запись на обучение";

block content
  +widget("Запись на обучение", "cacd574df536c6eb40f00492dff946cee1d489f3", "http://podgotovkakege.com/pl/lite/widget/script?id=19773")
    .widget__tabs
      //- a.widget__tab-link(href="six-month.html") Бронебойная подготовка 2.0
      a.widget__tab-link(href="intensive.html") Ядрёный интенсив
      a.widget__tab-link.widget__tab-link--active Вспомнить всё
    div
      .widget__tabs
        a.widget__tab-link(href="three-days-practice.html") С практикой
        a.widget__tab-link.widget__tab-link--active Без практики
