.guarantee {
  position: relative;
  padding-top: 75px;
  padding-bottom: 90px;
  text-align: center;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.02);

  &--texture-bg {
    background-image: url("../img/bg-texture.jpg");
  }

  &__inner {
    @include container;
  }

  &__title {
    @include title;

    margin-top: 0;
    margin-bottom: 85px;
    color: #333333;
  }

  &__list {
    @include list-reset;

    margin-bottom: 80px;
    width: 1110px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    margin-bottom: 80px;

    &:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }
  }

  &__dots {
    display: none;
  }
}

@media (max-width: $tablet-container-width) {

  .guarantee {
    box-sizing: border-box;
    width: 100%;
    padding-left: 39px;
    padding-right: 39px;
    margin: 0 auto;
    padding-top: 54px;

    &__inner {
      max-width: 1110px;
      min-width: 690px;
      width: 100%;
    }

    &__list {
      width: 100%;
    }

    &__link {
      padding-top: 40px;
      padding-bottom: 40px;
      padding-left: 72px;
      padding-right: 72px;

      &:hover {
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 72px;
        padding-right: 72px;
      }
    }

    &__dots {
      display: none;
    }
  }
}

@media (max-width: $mobile-container-width) {

  .guarantee {
    max-width: $mobile-container-width;
    min-width: $mobile-content-width;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 0;
    padding-right: 0;

    &__inner {
      max-width: $mobile-container-width;
      min-width: $mobile-content-width;
      width: 100%;
    }

    &__list {
      max-width: $mobile-container-width;
      min-width: $mobile-content-width;
      justify-content: space-around;
      width: 100%;
      margin-bottom: 45px;
    }

    &__item {
      margin-bottom: 0;
    }

    &__title {
      font-size: 30px;
      margin-bottom: 45px;
    }

    &__link {
      padding-top: 24px;
      padding-bottom: 24px;

      &:hover {
        padding-top: 24px;
        padding-bottom: 24px;
      }
    }

    &__dots {
      @include list-reset;

      display: flex;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;

      button {
        position: relative;
        width: 30px;
        height: 30px;
        padding: 0;
        font-size: 0;
        background-color: transparent;
        border: 0;

        &:hover {
          cursor: pointer;

          &::after {
            opacity: 0.6;
          }
        }

        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          width: 10px;
          height: 10px;
          background-color: #b8b8b8;
          border-radius: 50%;
          transform: translate(-50%, -50%);
          opacity: 0.3;
          transition-duration: 0.12s;
          transition-property: opacity;
        }
      }

      .slick-active {

        button {

          &::after {
            background-image: linear-gradient(to left, #41e6a0, #7dcd1e);
            opacity: 1;
          }
        }
      }
    }
  }
}
