include ../guarantee-card/guarantee-card

-
  var list = [{
    title: "Успешная сдача",
    description: "Средний балл наших учеников&nbsp;&mdash; 84, поэтому вероятность успеха на&nbsp;экзамене очень высока.",
    mod: "success"
  }, {
    title: "Доступность",
    description: "Выучить абсолютно понятный материал легко, поэтому доступность&nbsp;&mdash; ключ к&nbsp;успеху наших учеников.",
    mod: "accessibility"
  }, {
    title: "Сопровождение",
    description: "Мы&nbsp;будем рядом до&nbsp;самого экзамена. Если у&nbsp;тебя есть вопросы или просто желание поговорить, не&nbsp;стесняйся.",
    mod: "support"
  }, {
    title: "Срез по вузам",
    description: "После каждого промежуточного среза ты&nbsp;сразу понимаешь, в&nbsp;какие вузы можешь поступить.",
    mod: "cut"
  }, {
    title: "Лайфхаки",
    description: "Мы&nbsp;делимся с&nbsp;тобой всем своим опытом: рассказываем о&nbsp;подводных камнях, подаче документов в&nbsp;вузы и&nbsp;многом другом.",
    mod: "lifehacks"
  }, {
    title: "Апелляция",
    description: "Не&nbsp;согласен со&nbsp;своими баллами? Мы&nbsp;расскажем тебе, как правильно подавать апелляцию и&nbsp;выглядеть убедительно на&nbsp;комиссии.",
    mod: "appeal"
  }]

section.guarantee(class=guaranteeMod ? "guarantee--" + guaranteeMod : "")
  .guarantee__inner
    h2.guarantee__title Что гарантируем
    ul.guarantee__list
      each item in list
        li.guarantee__item
          +guarantee-card(item)
    +button("Проверь себя", href="full-test.html")(class="button--gradient guarantee__link")
