.modal-side {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1003;
  display: none;
  justify-content: space-between;
  box-sizing: border-box;
  overflow: hidden;
  overflow-y: auto;
  color: #ffffff;
  background-image: linear-gradient(to right, rgba(45, 125, 240, 0.95), rgba(140, 45, 240, 0.95));
  will-change: opacity;

  &--visible {
    display: flex;
  }

  &--before {
    animation-name: fade;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;

    .modal-side {

      &__right {
        animation-name: slideInRight;
        animation-duration: 0.5s;
        animation-delay: 0.3s;
        animation-fill-mode: backwards;
      }

      &__close {
        animation-name: fade;
        animation-duration: 0.3s;
        animation-delay: 0.8s;
        animation-fill-mode: backwards;
      }
    }
  }

  &--after {
    animation-name: fade;
    animation-duration: 0.3s;
    animation-delay: 0.8s;
    animation-direction: reverse;
    animation-fill-mode: forwards;

    .modal-side {

      &__right {
        animation-name: slideOutRight;
        animation-duration: 0.5s;
        animation-delay: 0.3s;
        animation-fill-mode: forwards;
      }

      &__close {
        animation-name: fade;
        animation-duration: 0.3s;
        animation-direction: reverse;
        animation-fill-mode: forwards;
      }
    }
  }

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 92px;
    height: 92px;
    padding: 0;
    font-size: 0;
    background-color: transparent;
    background-image: url("../img/inline/icon-cross.svg");
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
    cursor: pointer;
    transition-duration: 0.12s;
    transition-property: background-image;

    &:hover {
      background-image: url("../img/inline/icon-cross--hover.svg");
    }
  }

  &__close--mobile {
    display: none;
  }

  &__left {
    position: relative;
    width: 50%;
  }

  &__left-inner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding-top: 100px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;

    @media (max-width: 1279px) {
      display: none;
    }
  }

  &__right {
    width: 50%;
    min-height: 100%;
    // overflow-y: scroll;
    color: #333333;
    background-color: #ffffff;
    will-change: transform;
  }
}

@media (max-width: $tablet-container-width) {

  .modal-side {
    background-image: linear-gradient(to top, #8641f2, #8742f2);

    &__left {
      width: 12%;
    }

    &__right {
      width: 88%;
    }

    &__close {
      top: -20px;
    }
  }
}

@media (max-width: $mobile-container-width) {

  .modal-side {

    &__close {
      display: none;
    }

    &__close--mobile {
      display: block;
      width: 15px;
      height: 15px;
      top: 10px;
      right: 15px;
      z-index: 999;
      background-image: url("../img/inline/icon-cross-mobile.svg");
    }

    &__left {
      width: 0;
    }

    &__right {
      width: 100%;
    }
  }
}
