.modal-side
  .modal-side__left
    button.modal-side__close(type="button" title="Закрыть") Закрыть
    .modal-side__left-inner
  .modal-side__right
    button.modal-side__close.modal-side__close--mobile(type="button" title="Закрыть") Закрыть
    .modal-side__inner
