.programs {
  padding-top: 75px;
  background-image: linear-gradient(to right, #2d7df0, #8c2df0);
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.05);

  &__title {
    @include title;

    color: #ffffff;
    margin-top: 0;
    margin-bottom: 85px;
  }

  &__inner {
    @include container;
  }

  &__list {
    @include list-reset;

    padding-bottom: 30px;
  }

  &__item {
    padding: 60px;
    padding-top: 42px;
    margin-bottom: 30px;
    background-color: #ffffff;
    border-radius: 3px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media (max-width: $tablet-container-width) {

  .programs {
    box-sizing: border-box;
    width: 100%;
    padding-right: 39px;
    padding-left: 39px;
    padding-top: 81px;

    &__inner {
      box-sizing: border-box;
      max-width: 1110px;
      min-width: 690px;
      width: 100%;
    }

    &__link {
      margin-top: 60px;
    }

    &__title {
      margin-bottom: 79px;
    }
  }
}

@media (max-width: $mobile-container-width) {

  .programs {
    max-width: $mobile-container-width;
    min-width: $mobile-content-width;
    padding-top: 50px;
    padding-right: 20px;
    padding-left: 20px;

    &__inner {
      max-width: 727px;
      min-width: 280px;
      width: auto;
    }

    &__title {
      font-size: 36px;
      line-height: 40px;
      margin-bottom: 50px;
    }

    &__item {
      box-sizing: border-box;
      max-width: 727px;
      min-width: 280px;
      width: 100%;
      padding: 20px;
      margin-bottom: 20px;
    }

    &__link {
      font-size: 16px;
      width: 280px;
      padding-top: 29px;
      padding-bottom: 27px;
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 10px;
      margin-top: 0;

      &:hover {
        font-size: 16px;
        width: 280px;
        padding-top: 29px;
        padding-bottom: 27px;
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}
