include ../program-card/program-card

- var list = require("./source/blocks/training-options/data.js");

section.programs
  .programs__inner
    h1.programs__title Варианты подготовки
    ul.programs__list
      each item in list
        li.programs__item
          +program-card(item)
    include ../lesson-example/lesson-example
