header.page-header
  .page-header__inner
    a.page-header__logo(href= pageId !== 0 ? "index.html" : null)
      img(src="img/logo.png" width="202" height="100" alt="Логотип")
    .page-header__phone
      .page-header__phone-number +7&nbsp;(499)&nbsp;130&nbsp;16&nbsp;80
      //- .page-header__phone-text Звонок <span class="page-header__text-marked">бесплатный</span> по&nbsp;Российской Федерации
    +button("Обратный звонок", href="#")(class="button--slim page-header__callback" data-modal="callback")
    button.page-header__mobile-menu
  .page-header__nav
    .page-header__inner
      include ../page-nav/page-nav
