.page-header {
  position: relative;
  padding-bottom: 5px;
  color: #333333;
  background-color: #ffffff;
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.05);

  &__inner {
    @include container;

    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__nav {
    border-top: 1px solid #ebebeb;
  }

  &__logo {
    padding-top: 8px;
    padding-bottom: 7px;
    margin-right: auto;
  }

  &__phone {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;

    &:hover {

      .page-header {

        &__text-marked {
          color: #7dcd1e;
        }
      }
    }
  }

  &__mobile-menu {
    display: none;
  }

  &__phone-number {
    position: relative;
    margin-right: 0;
    padding-left: 33px;
    font-weight: 300;
    font-size: 28px;
    line-height: 1;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 24px;
      height: 24px;
      background-image: url("../img/inline/icon-phone.svg");
      background-repeat: no-repeat;
      background-position: center;
      transform: translateY(-50%);
    }
  }

  &__phone-text {
    box-sizing: border-box;
    width: 225px;
    padding-top: 40px;
    padding-bottom: 35px;
    padding-left: 30px;
    font-size: 14px;
    line-height: 20px;
    color: #767676;
    background-image: url("../img/bg-map-russia.jpg");
    background-repeat: no-repeat;
    background-position: left center;
  }

  &__callback {
    min-width: 270px;
  }

  &__text-marked {
    font-weight: 700;
    color: #333333;
    transition-duration: 0.12s;
    transition-property: color;
  }
}

@media (max-width: $tablet-container-width) {

  .page-header {
    width: 100%;
    min-width: $tablet-content-width;

    &__inner {
      box-sizing: border-box;
      max-width: 1110px;
      min-width: $tablet-content-width;
      width: 100%;
      padding-top: 3px;
      padding-bottom: 3px;
      padding-left: 39px;
      padding-right: 39px;
    }

    &__phone-number {
      font-size: 22px;
    }

    &__logo {
      width: 196px;
    }

    &__callback {
      min-width: 209px;
      padding-left: 28px;
      padding-right: 29px;

      &:hover {
        padding-left: 30px;
        padding-right: 31px;
      }
    }
  }
}

@media (max-width: $mobile-container-width) {

  .page-header {
    max-width: $mobile-container-width;
    min-width: $mobile-content-width;
    width: 100%;
    padding-bottom: 0;

    &__inner {
      max-width: 727px;
      min-width: 280px;
      width: 100%;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 0;
      padding-top: 0;
      border-bottom: 1px solid #ebebeb;
    }

    &__callback {
      display: none;
    }

    &__phone-number {
      font-size: 16px;
      padding-right: 14px;

      &::before {
        width: 18px;
        height: 18px;
        background-size: 100%;
        left: 14px;
      }
    }

    &__nav {
      border-top: none;
    }

    &__logo {
      width: 78px;
      padding-top: 11px;
      padding-bottom: 10px;
    }

    &__mobile-menu {
      position: absolute;
      display: block;
      width: 20px;
      height: 20px;
      top: 20px;
      right: 20px;
      border: none;
      background-color: transparent;
      background-image: url("../img/inline/icon-burger.svg");
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center center;
      cursor: pointer;

      &--opened {
        position: absolute;
        display: block;
        width: 20px;
        height: 20px;
        top: 20px;
        right: 20px;
        border: none;
        background-color: transparent;
        background-image: url("../img/inline/icon-burger-cross.svg");
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        cursor: pointer;
      }
    }
  }
}
