.page {
  font-weight: 400;
  font-size: 21px;
  line-height: 30px;
  font-family: "Helvetica", "Arial", sans-serif;
  color: #333333;
  background-color: #ffffff;

  &--no-scroll {
    overflow: hidden;
  }

  &--no-scrolling {
    overflow: hidden;
  }
}
