include ../../blocks/button/button
include ../../blocks/field-text/field-text
include ../../blocks/blank-link/blank-link

//- body.page(contenteditable="true")

body.page
  if (!developmentMode)
    include ../../widgets/google-tag-manager--noscript.html

  block content

  if (!developmentMode)
    //- include ../../widgets/jivosite.html
    include ../../widgets/ga.html
    include ../../widgets/calltouch.html
    include ../../widgets/metrika.html
    include ../../widgets/remarketing.html
    if (pageId !== 0)
      include ../../widgets/vk-community.html
    else
      include ../../widgets/vk-community--main-page.html

  script(src="js/script.js")
