.widget {
  min-height: 100vh;
  padding-top: 80px;
  padding-bottom: 90px;
  background-image: linear-gradient(to right, #2d7df0, #8c2df0);

  &__inner {
    width: 990px;
    margin-left: auto;
    margin-right: auto;
    padding: 90px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 3px;
  }

  &__wrapper {
    border: 1px solid #ebebeb;
  }

  &__title {
    @include title;

    margin-top: 0;
    margin-bottom: 85px;
    color: #ffffff;
  }

  &__close {
    position: fixed;
    top: 0;
    right: 0;
    width: 92px;
    height: 92px;
    padding: 0;
    font-size: 0;
    background-color: transparent;
    background-image: url("../img/inline/icon-cross.svg");
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
    cursor: pointer;
    transition-duration: 0.12s;
    transition-property: background-image;

    &:hover {
      background-image: url("../img/inline/icon-cross--hover.svg");
    }
  }

  &__tabs {
    display: inline-flex;
    justify-content: center;
    margin-bottom: 90px;
    border: solid 1px #ebebeb;
    border-radius: 3px;
  }

  &__tab-link {
    display: block;
    padding-top: 23px;
    padding-bottom: 23px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 21px;
    line-height: 30px;
    color: inherit;
    text-decoration: none;
    background-color: transparent;
    border: 0;
    cursor: pointer;

    &--active {
      color: #ffffff;
      background-image: linear-gradient(to right, #2d7df0, #8c2df0);
      cursor: default;
    }
  }
}

@media (max-width: $tablet-container-width) {

  .widget {

    &__inner {
      box-sizing: border-box;
      width: 690px;
    }
  }
}

@media (max-width: $mobile-container-width) {

  .widget {
    padding-left: 20px;
    padding-right: 20px;

    &__inner {
      box-sizing: border-box;
      padding: 20px;
      max-width: 687px;
      min-width: 280px;
      width: 100%;
    }

    &__title {
      font-size: 30px;
    }

    &__close {
      width: 15px;
      height: 15px;
      right: 10px;
      top: 10px;
    }

    &__tabs {
      box-sizing: border-box;
      max-width: 480px;
      width: 100%;
    }

    &__tab-link {
      box-sizing: border-box;
      width: 50%;
      font-size: 16px;
      padding: 15px;
      line-height: 20px;
    }
  }
}
