mixin widget(title, scriptId, scriptSRC)
  main.widget
    a.widget__close(href="index.html") Закрыть
    h1.widget__title= title
    .widget__inner
      block
      .widget__wrapper
        script(id=scriptId src=scriptSRC)
