.guarantee-card {
  position: relative;
  padding-top: 35px;
  padding-left: 129px;
  text-align: left;
  width: 220px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
  }

  &--success {

    &::before {
      background-image:
      url("../img/inline/icon-rocket.svg"),
      linear-gradient(to right, #2d7df0, #8c2df0);
    }
  }

  &--accessibility {

    &::before {
      background-image:
      url("../img/inline/icon-labyrinth.svg"),
      linear-gradient(to right, #2d7df0, #8c2df0);
    }
  }

  &--support {

    &::before {
      background-image:
      url("../img/inline/icon-eye.svg"),
      linear-gradient(to right, #2d7df0, #8c2df0);
    }
  }

  &--cut {

    &::before {
      background-image:
      url("../img/inline/icon-chart.svg"),
      linear-gradient(to right, #2d7df0, #8c2df0);
    }
  }

  &--lifehacks {

    &::before {
      background-image:
      url("../img/inline/icon-atom.svg"),
      linear-gradient(to right, #2d7df0, #8c2df0);
    }
  }

  &--appeal {

    &::before {
      background-image:
      url("../img/inline/icon-fire.svg"),
      linear-gradient(to right, #2d7df0, #8c2df0);
    }
  }

  &__title {
    @include subtitle--marked;

    z-index: 2;
  }

  &__description {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 30px;
    color: #767676;
  }

  &__link {
    position: relative;
    display: inline-block;
    margin-top: 10px;
    padding-left: 25px;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    text-decoration: none;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 16px;
      height: 20px;
      background-image: url("../img/inline/icon-report.svg");
      transform: translateY(-50%);
    }
  }

  &__link-text {
    border-bottom: 1px solid rgba(51, 51, 51, 0.15);
  }
}

@media (max-width: $tablet-container-width) {

  .guarantee-card {
    width: 200px;
  }
}

@media (max-width: $mobile-container-width) {

  .guarantee-card {
    padding-left: 0;
    width: 280px;
    text-align: center;
    padding-top: 120px;
    margin-left: 10px;
    margin-right: 10px;

    &::before {
      left: 0;
      right: 0;
      margin: auto;
    }
  }
}
