include ../field-text/field-text
include ../button/button

.callback
  h2.callback__title Обратный <span class="callback__marked">звонок</span>
  .callback__inner
    form.callback__form(action="mail.php" method="post")
      .callback__inputs-list
        .callback__inputs-item
          .field-text
            label.field-text__name
              input.field-text__input(type="text" name="name" required)
              span.field-text__text Как вас зовут
              span.field-text__color-aqua--star *
              span.field-text__error-message
        .callback__inputs-item
          .field-text
            label.field-text__name
              input.field-text__input(type="tel" name="phone" pattern="\\+7\\s\\d{3}\\s\\d{3}\\s\\d{2}\\s\\d{2}" required)
              span.field-text__text Ваш телефон
              span.field-text__color-aqua--star *
              span.field-text__error-message
        .callback__inputs-item
          +button("Отправить")(class="button--gradient callback__submit" type="submit")
      .callback__consent Нажимая &laquo;Отправить&raquo;, вы даете <a class="callback__consent-link" href="privacy-policy.pdf" target="_blank">согласие</a> на&nbsp;обработку своих персональных данных.
    .callback__thanks
      p.callback__thanks-title Спасибо
      p.callback__description Мы&nbsp;свяжемся с&nbsp;вами в&nbsp;ближайшее время.
      +button("Заполнить форму еще раз")(class="button--slim callback__one-more")
