@lost flexbox flex;
@lost gutter 30px;
@lost rounder 100;

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  object-fit: cover;
}

.js-focus-ring :focus:not(.focus-ring) {
  outline-width: 0;
}

.color-aqua {
  color: #41e6a0;
}
