@font-face {
  font-family: "Helvetica";
  src:
  local("Helvetica Light"),
  local("Helvetica-Light"),
  url("#{$path}fonts/Helvetica-Light.woff2") format("woff2"),
  url("#{$path}fonts/Helvetica-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src:
  local("Helvetica Regular"),
  local("Helvetica-Regular"),
  url("#{$path}fonts/Helvetica-Regular.woff2") format("woff2"),
  url("#{$path}fonts/Helvetica-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src:
  local("Helvetica Bold"),
  local("Helvetica-Bold"),
  url("#{$path}fonts/Helvetica-Bold.woff2") format("woff2"),
  url("#{$path}fonts/Helvetica-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
