@keyframes fade {

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideInRight {

  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slideOutRight {

  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(100%);
  }
}
