@mixin container {
  width: $desktop-content-width;
  margin-left: auto;
  margin-right: auto;
}

@mixin link {
  text-decoration: none;
  border-bottom: 1px solid rgba(65, 230, 160, 0.5);
  transition-duration: 0.12s;
  transition-property: color, border-bottom-color;
  color: #41e6a0;
  cursor: pointer;

  &:hover {
    color: #ffffff;
    border-bottom-color: rgba(255, 255, 255, 0.25);
  }
}

@mixin title {
  font-size: 50px;
  line-height: 50px;
  font-weight: 300;
  text-align: center;
}

@mixin subtitle {
  position: relative;
  margin-top: 0;
  margin-bottom: 17px;
  padding-bottom: 27px;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: #333333;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 2px;
    background-image: linear-gradient(to left, #41e6a0, #7dcd1e);
  }
}

@mixin subtitle--marked($color: #7dcd1e, $text: #333333) {
  position: relative;
  margin-top: 0;
  margin-bottom: 18px;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: $text;
  display: inline-block;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -9px;
    width: calc(100% + 18px);
    height: 10px;
    background-color: $color;
    border-radius: 10px;
    z-index: -1;
  }
}

@mixin marked-text($color: #7dcd1e) {
  position: relative;
  z-index: 1;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -6px;
    width: calc(100% + 12px);
    height: 10px;
    background-color: $color;
    border-radius: 10px;
    z-index: -1;
  }
}

@mixin marked-text--big {
  position: relative;
  z-index: 1;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -9px;
    width: calc(100% + 18px);
    height: 20px;
    background-color: #7dcd1e;
    border-radius: 10px;
    z-index: -1;
  }
}

@mixin circle {
  color: #ffffff;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 44px;
    height: 44px;
    background-image: linear-gradient(to right, #ffa500, #ff6400);
    border-radius: 50%;
    z-index: -1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

@mixin circle--small {
  color: #ffffff;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 32px;
    height: 32px;
    background-image: linear-gradient(to right, #ffa500, #ff6400);
    border-radius: 50%;
    z-index: -1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);
}

@mixin un-visually-hidden {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  overflow: visible;
  border: 0;
  clip: auto;
}

@mixin cross ($width, $color, $hover-color: $color, $thickness: 1px) {

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: $width * 1.41;
    height: $thickness;
    background-color: $color;
    transform: translate(-50%, -50%) rotate(45deg);
    transition-property: background-color;
    transition-duration: 0.12s;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: $thickness;
    height: $width * 1.41;
    background-color: $color;
    transform: translate(-50%, -50%) rotate(45deg);
    transition-property: background-color;
    transition-duration: 0.12s;
  }

  &:hover {

    &::before,
    &::after {
      background-color: $hover-color;
    }
  }
}
