.button {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  padding: 0;
  padding-top: 37px;
  padding-bottom: 39px;
  padding-left: 58px;
  padding-right: 58px;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  vertical-align: top;
  text-align: center;
  color: inherit;
  text-decoration: none;
  background-color: transparent;
  border: solid 2px #41e6a0;
  border-radius: 50px;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to left, #41e6a0, #7dcd1e);
    border-radius: 50px;
    opacity: 0;
    transition-duration: 0.25s;
    transition-property: opacity;
    pointer-events: none;
  }

  &:hover {
    padding-top: 39px;
    padding-bottom: 41px;
    padding-left: 60px;
    padding-right: 60px;
    border: 0;

    &::before {
      opacity: 1;
    }

    span {
      color: #ffffff;
    }
  }

  span {
    position: relative;
    z-index: 2;
    color: inherit;
    transition-duration: 0.2s;
    transition-property: color;
    pointer-events: none;
  }

  &--slim {
    padding-top: 17px;
    padding-bottom: 19px;
    border-radius: 30px;

    &:hover {
      padding-top: 19px;
      padding-bottom: 21px;
    }
  }

  &--gradient {
    padding-top: 39px;
    padding-bottom: 41px;
    color: #ffffff;
    background-image: linear-gradient(to right, #ff9646, #f02d96);
    border: 0;

    &::before {
      background-image: linear-gradient(to right, #ff9646, #af2df0);
    }

    &:hover {
      padding-top: 39px;
      padding-bottom: 41px;
      padding-left: 58px;
      padding-right: 58px;
    }
  }
}
