mixin side-review(item, index)
  section.side-review
    h3.side-review__title!= item.name
    a.side-review__social-link(href=item.socialLink.href target="_blank")
      .side-review__social-avatar
        img(src=item.socialLink.image.src widht=item.socialLink.image.width height=item.socialLink.image.height alt=item.socialLink.image.alt)
      span.side-review__social-type= item.socialType
    p.side-review__text!= item.text
    ul.side-review__results
      each result in item.results
        li.side-review__results-item #{result.course} — <span class="side-review__results-points">#{result.points}</span> #{result.text}
    if item.blankLink
      +blank-link("Официальный бланк", item.blankLink)(class="side-review__link")
