.side-review {
  position: relative;
  padding-top: 72px;
  padding-bottom: 90px;
  padding-left: 90px;
  padding-right: 90px;
  text-align: left;
  color: #333333;
  background-color: #ffffff;

  &__title {
    margin-top: 0;
    margin-bottom: 44px;
    font-weight: 300;
    font-size: 38px;
    line-height: 55px;
    padding-left: 120px;
  }

  &__social-link {
    position: absolute;
    top: 45px;
    left: 80px;
    display: block;
  }

  &__social-avatar {
    width: 110px;
    height: 110px;
    overflow: hidden;
    border-radius: 50%;
  }

  &__social-type {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 30px;
    height: 30px;
    font-size: 0;
    background-color: #ffffff;
    background-image: url("../img/inline/icon-vk.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    transition-duration: 0.15s;
    transition-property: background-color;
  }

  &__text {
    position: relative;
    margin-top: 0;
    margin-bottom: 70px;
    padding-top: 20px;
    font-size: 16px;
    line-height: 30px;
    background-image: url("../img/inline/icon-quotes.svg");
    background-repeat: no-repeat;
    background-position: left 12px;
  }

  &__results {
    @include list-reset;

    margin-bottom: 14px;
  }

  &__results-item {
    position: relative;
    z-index: 1;
    font-size: 16px;
    line-height: 30px;
  }

  &__results-points {
    @include circle--small;
  }

  &__link {
    position: relative;
    display: inline-block;
    margin-bottom: 31px;
    padding-left: 25px;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    text-decoration: none;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 16px;
      height: 20px;
      background-image: url("../img/inline/icon-report.svg");
      transform: translateY(-50%);
    }
  }

  &__link-text {
    border-bottom: 1px solid rgba(51, 51, 51, 0.15);
  }
}

@media (max-width: $mobile-container-width) {

  .side-review {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;

    &__title {
      padding-left: 0;
      margin-bottom: 0;
    }

    &__text {
      margin-bottom: 40px;
    }

    &__social-avatar {
      display: none;
    }

    &__social-type {
      display: none;
    }
  }
}
