.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1003;
  display: none;
  box-sizing: border-box;
  padding-top: 80px;
  padding-bottom: 90px;
  overflow-y: auto;
  color: #ffffff;
  background-image: linear-gradient(to right, #2d7df0, #8c2df0);
  will-change: opacity;
  justify-content: center;
  align-items: center;

  &--visible {
    display: flex;
  }

  &--fade-out {
    animation-name: fade;
    animation-duration: 0.3s;
    animation-direction: reverse;
    animation-fill-mode: forwards;
  }

  &--fade-in {
    animation-name: fade;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
  }

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    width: 92px;
    height: 92px;
    padding: 0;
    font-size: 0;
    background-color: transparent;
    background-image: url("../img/inline/icon-cross.svg");
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
    cursor: pointer;
    transition-duration: 0.12s;
    transition-property: background-image;

    &:hover {
      background-image: url("../img/inline/icon-cross--hover.svg");
    }
  }

  &__inner {
    width: 990px;
    margin-top: auto;
    margin-bottom: auto;
  }
}

@media (max-width: $tablet-container-width) {

  .modal {
    padding-top: 221px;
    padding-bottom: 230px;

    &__close {
      width: 30px;
      height: 30px;
      top: 10px;
      right: 10px;
    }
  }
}

@media (max-width: $mobile-container-width) {

  .modal {
    padding-top: 0;
    padding-bottom: 20px;

    &__close {
      width: 15px;
      height: 15px;
      top: 10px;
      right: 10px;
      z-index: 9999;
    }
  }
}
