.process {
  position: relative;
  padding-top: 75px;
  padding-bottom: 90px;
  text-align: center;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.02);

  &__inner {
    @include container;

    position: relative;
  }

  &__title {
    @include title;

    margin-top: 0;
    margin-bottom: 85px;
    color: #333333;
  }

  &__list {
    @include list-reset;

    margin-bottom: 70px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    margin-bottom: 80px;
    width: 350px;

    &:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }
  }

  &__link {
    position: absolute;
    left: calc(((100% - 60px) * 2 / 3) + 60px + 129px);
    bottom: 41px;
    display: block;
    padding-left: 25px;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    text-decoration: none;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 16px;
      height: 20px;
      background-image: url("../img/inline/icon-report.svg");
      transform: translateY(-50%);
    }
  }

  &__link-text {
    border-bottom: 1px solid rgba(51, 51, 51, 0.15);
  }
}

@media (max-width: $tablet-container-width) {

  .process {
    box-sizing: border-box;
    width: 100%;
    padding-left: 39px;
    padding-right: 39px;
    padding-top: 84px;
    padding-bottom: 150px;

    &__inner {
      max-width: 1110px;
      min-width: 690px;
      width: 100%;
    }

    &__item {
      margin-bottom: 80px;
      width: 330px;

      &:nth-last-child(-n + 5) {
        margin-bottom: 0;
      }
    }

    &__link {
      left: 0;
      right: 0;
      bottom: -48px;
      margin: auto;
      width: 125px;

      &::before {
        left: 0;
      }
    }
  }
}

@media (max-width: $mobile-container-width) {

  .process {
    box-sizing: border-box;
    max-width: $mobile-container-width;
    min-width: $mobile-content-width;
    width: 100%;
    padding-top: 45px;
    padding-bottom: 70px;
    padding-left: 20px;
    padding-right: 20px;

    &__inner {
      max-width: $mobile-container-width;
      min-width: 280px;
      width: 100%;
    }

    &__list {
      margin-bottom: 55px;
    }

    &__subscribe {
      width: 280px;
      padding-top: 24px;
      padding-bottom: 24px;
      font-size: 16px;

      &:hover {
        width: 280px;
        padding-top: 24px;
        padding-bottom: 24px;
        font-size: 16px;
      }
    }

    &__item {
      margin-bottom: 0;
      width: 280px;
      margin-left: 20px;
      margin-right: 20px;
    }

    &__link {
      bottom: -41px;
    }

    &__title {
      font-size: 36px;
      margin-bottom: 43px;
    }
  }
}
