include ../process-card/process-card

-
  var list = [{
    title: "Формат занятий",
    description: "Онлайн, а&nbsp;это экономит время на&nbsp;дороге. Записи занятий всегда доступны в&nbsp;цифровом виде.",
    mod: "format"
  }, {
    title: "Комплекс",
    description: "Комбинированные уроки ускоряют процесс обучения.",
    mod: "complex"
  }, {
    title: "Длительность",
    description: "За&nbsp;120 минут урока мы&nbsp;разберем вопросы по&nbsp;домашнему заданию, изучим новые темы и&nbsp;сразу&nbsp;же применим их&nbsp;на&nbsp;практике.",
    mod: "duration"
  }, {
    title: "Цена за час",
    description: "Час занятий с&nbsp;репетитором обычно стоит за&nbsp;1&nbsp;000&nbsp;Р. У&nbsp;нас вдвое дешевле.",
    mod: "price"
  }, {
    title: "Фейс-контроль",
    description: "С&nbsp;нами интересно, но&nbsp;расслабиться не&nbsp;получится: мы&nbsp;следим за&nbsp;твоей дисциплиной.",
    mod: "face-control"
  }, {
    title: "Проверка заданий",
    description: "Индивидуальный подход&nbsp;&mdash; ключ к&nbsp;успеху. Мы&nbsp;тщательно проверяем тебя и&nbsp;устраняем пробелы в&nbsp;знаниях.",
    mod: "checking"
  }, {
    title: "Пробник в месяц",
    description: "В&nbsp;конце каждого месяца подготовки мы&nbsp;проверяем твой уровень и&nbsp;вносим корректировки.",
    mod: "probe"
  }, {
    title: "Все материалы",
    description: "Видео лекций, презентации, тесты в&nbsp;постоянное пользование. Всегда можно вернуться и&nbsp;посмотреть материал еще раз.",
    mod: "materials"
  }, {
    title: "Сопровождение",
    description: "Мы&nbsp;с&nbsp;тобой до&nbsp;самого конца. Если у&nbsp;тебя есть вопросы или просто желание поговорить, не&nbsp;стесняйся.",
    mod: "support"
  }]

section.process
  .process__inner
    h2.process__title Процесс
    ul.process__list
      each item in list
        li.process__item
          +process-card(item)
    +button("Проверь себя", href="full-test.html")(class="button--gradient process__subscribe")
    +blank-link("Задать вопрос", "#")(class="process__link" data-modal="question")
