.subject-card {
  width: calc((100% - 90px) / 4);
  background-color: #ffffff;
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 100% 200px;
  border-radius: 3px;
  box-sizing: border-box;
  color: #333333;
  display: block;
  height: 100%;
  min-height: 330px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 50px;
  text-align: center;
  text-decoration: none;

  &--social {
    background-image: url("../img/image-social.jpg");
  }

  &--history {
    background-image: url("../img/image-history.jpg");
  }

  &--english {
    background-image: url("../img/image-english.jpg");
  }

  &--russian {
    background-image: url("../img/image-russian.jpg");
  }

  &__title {
    font-size: 21px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 160px;
    margin-top: 0;
  }
}

@media (max-width: $tablet-container-width) {

  .subject-card {
    width: 330px;
    min-height: 430px;
    background-size: 100% auto;
    margin-bottom: 30px;
    border-radius: 5px;
  }
}

@media (max-width: $mobile-container-width) {

  .subject-card {
    position: relative;
    width: 130px;
    min-height: 130px;
    border-radius: 50%;
    background-position: center center;
    background-size: 130px 130px;
    background-color: transparent;
    margin-right: 60px;
    margin-left: 60px;
    margin-bottom: 110px;

    &__title {
      width: 280px;
      position: absolute;
      font-size: 21px;
      color: #ffffff;
      left: -58%;
      right: 0;
      bottom: -50px;
      margin: auto;
    }

    &--russian {
      background-image: url("../img/image-russian-mobile.png");
      background-size: 130px 199px;
      background-position: center top;
    }
  }
}
