include ../training-option/training-option

- var list = require("./source/blocks/training-options/data.js");

section.training-options
  .training-options__inner
    h2.training-options__title Как готовим
    ul.training-options__list
      each item in list
        li.training-options__item
          +training-option(item)
    include ../lesson-example/lesson-example
