.video {
  padding-top: 75px;
  padding-bottom: 90px;
  background-image: linear-gradient(to right, #2d7df0, #8c2df0);
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.05);

  &__title {
    @include title;

    color: #ffffff;
    margin-top: 0;
    margin-bottom: 85px;
  }

  &__inner {
    @include container;
  }

  &__container {
    position: relative;
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 500px;
    overflow: hidden;
    font-size: 0;
    background-image: url("#{$path}img/bg-founder-speech.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border: 10px solid #ffffff;
    border-radius: 3px;
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 140px;
      height: 140px;
      background-image: url("../img/inline/icon-play.svg");
      background-repeat: no-repeat;
      background-position: center;
      transform: translate(-50%, -50%);
      transition-duration: 0.15s;
      transition-property: background-color;
    }

    &:hover {

      &::after {
        background-image: url("../img/inline/icon-play--hover.svg");
      }
    }
  }
}

@media (max-width: $tablet-container-width) {

  .video {
    box-sizing: border-box;
    width: 100%;
    padding-left: 39px;
    padding-right: 39px;

    &__inner {
      max-width: 1110px;
      min-width: 690px;
      width: 100%;
    }

    &__container {
      background-position: center center;
    }
  }
}

@media (max-width: $mobile-container-width) {

  .video {
    box-sizing: border-box;
    max-width: $mobile-container-width;
    min-width: $mobile-content-width;
    padding-top: 47px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;

    &__title {
      margin-bottom: 45px;
      font-size: 36px;
      line-height: 1.2em;
    }

    &__inner {
      max-width: 727px;
      min-width: 280px;
      width: 100%;
    }

    &__container {
      height: 210px;
      background-position: center center;
      border: 5px solid #ffffff;
    }
  }
}
