.side-card {
  position: relative;
  text-align: left;
  color: #333333;
  background-color: #ffffff;

  &__wrapper {
    padding-top: 72px;
    padding-bottom: 90px;
    padding-left: 90px;
    padding-right: 90px;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 300;
    font-size: 38px;
    line-height: 55px;
  }

  &__period {
    display: inline-block;
    margin-bottom: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 13px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #cccccc, #777777);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    clip-path: polygon(100% 0, calc(100% - 5px) 18%, 100% 32%, calc(100% - 5px) 50%, 100% 68%, calc(100% - 5px) 82%, 100% 100%, 0 100%, 0 0);

    &--blue {
      background-image: linear-gradient(to right, #2d7df0, #8c2df0);
    }

    &--orange {
      background-image: linear-gradient(to right, #ffa500, #ff6400);
    }

    &--green {
      background-image: linear-gradient(to right, #41e6a0, #7dcd1e);
    }
  }

  &__features {
    @include list-reset;

    font-size: 16px;
    line-height: 30px;
    counter-reset: list;
  }

  &__features-item {
    position: relative;
    margin-bottom: 20px;
    padding-left: 58px;
    color: #333333;

    &::before {
      content: "0" counter(list);
      position: absolute;
      top: -5px;
      left: 0;
      width: 36px;
      height: 36px;
      font-weight: 700;
      font-size: 13px;
      line-height: 36px;
      text-align: center;
      color: #333333;
      border: solid 2px #41e6a0;
      border-radius: 50%;
      counter-increment: list;
    }
  }

  &__price-caption {
    padding-left: 58px;
    margin-bottom: 6px;
    font-size: 13px;
    line-height: (30/13);
    font-weight: 700;
  }

  &__price-list {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 20px;
    border: solid 1px #ebebeb;

    &:last-of-type {
      margin-bottom: 90px;
    }
  }

  &__price-item {
    box-sizing: border-box;
    width: 25%;
    padding-top: 6px;
    padding-bottom: 4px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;
    border-right: 1px solid #ebebeb;

    &:last-child {
      border-right: 0;
    }
  }

  &__price-name {
    font-size: 13px;
    line-height: 30px;
  }

  &__price-value {
    margin-left: 0;
    font-size: 13px;
    line-height: 30px;
    transform: translateY(-8px);
  }

  &__marked-value {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
  }
}

@media (max-width: $mobile-container-width) {

  .side-card {

    &__wrapper {
      padding: 30px 20px;
    }

    &__title {
      font-size: 30px;
    }

    &__period {
      margin-bottom: 30px;
    }

    &__features-item {
      padding-left: 41px;

      &::before {
        width: 26px;
        height: 26px;
        font-size: 10px;
        line-height: 26px;
      }
    }

    &__price-list {
      flex-wrap: wrap;
    }

    &__price-list:last-of-type {
      margin-bottom: 30px;
    }

    &__price-item {
      box-sizing: border-box;
      width: 50%;
      padding-top: 5px;
      padding-left: 15px;
      padding-right: 15px;
      text-align: left;
      border-bottom: 1px solid #ebebeb;

      &:nth-child(odd) {
        border-right: 1px solid #ebebeb;
      }

      &:nth-last-child(-n + 2) {
        border-bottom: 0;
      }
    }

    &__button {
      width: 280px;
      padding-top: 29px;
      padding-bottom: 27px;
      font-size: 16px;

      &:hover {
        width: 280px;
        padding-top: 29px;
        padding-bottom: 27px;
        font-size: 16px;
      }
    }
  }
}
