include ../teacher-card/teacher-card

-
  var list = [{
    name: "Полина Мерсалова",
    subject: "История",
    mod: "mersalova",
    vk: "https://vk.com/id451534669",
    isFree: true,
    href: "mersalova.html",
    education: [
      "2010&nbsp;г. &mdash;&nbsp;золотая медаль в&nbsp;школе.",
      "Кубанский государственный университет: 2010&ndash;2014&nbsp;&mdash; бакалавр истории {бюджет}. 2014&ndash;2016&nbsp;&mdash; магистр истории {бюджет}.",
      "2016&nbsp;г. &mdash;&nbsp;победитель конкурса молодых учителей &laquo;Учительские весны&raquo;, обладатель гранта губернатора Краснодарского края.",
      "2016&nbsp;г. &mdash;&nbsp;курсы повышения квалификации Томского государственного университета.",
      "2015&ndash;2016&nbsp;г. &mdash;&nbsp;готовила детей к&nbsp;научно-практическим конференциям &laquo;Эврика&raquo;, &laquo;Vivat, historia&raquo;."
    ],
    expirience: [
      "Репетиторство: с&nbsp;2012&nbsp;года, средний балл по&nbsp;истории&nbsp;&mdash; <span class='teacher-card__circle'>84</span>.",
      "Проверяла ВПР 11&nbsp;классов."
    ]
  }, {
    name: "Ольга Борисовна Царева",
    subject: "Обществознание",
    mod: "tsareva",
    vk: "https://vk.com/id20060940",
    isFree: false,
    education: [
      "Диплом учителя истории, обществознания и&nbsp;права, педагогический стаж&nbsp;&mdash; 24&nbsp;года, высшая квалификационная категория."
    ],
    expirience: [
      "Эксперт ГИА по&nbsp;обществознанию.",
      "Опыт репетиторства&nbsp;&mdash; 14&nbsp;лет.",
      "Опыт подготовки к&nbsp;олимпиадам ВШЭ, СПбГУ и&nbsp;Всероссийской олимпиады.",
      "Опыт подготовки к&nbsp;ЕГЭ по&nbsp;обществознанию&nbsp;&mdash; 9&nbsp;лет {ежегодно до&nbsp;50&nbsp;человек}. Высшие баллы учеников: <span class='teacher-card__circle'>91</span>&nbsp;по&nbsp;истории и&nbsp;<span class='teacher-card__circle'>100</span> через олимпиаду, <span class='teacher-card__circle'>96</span>&nbsp;по&nbsp;обществознанию и&nbsp;<span class='teacher-card__circle'>100</span> через олимпиаду."
    ]
 }, {
    name: "Наталья Долгушева",
    subject: "Английский язык",
    mod: "dolgusheva",
    vk: "https://vk.com/natalya_dolgusheva",
    isFree: true,
    href: "dolgusheva.html",
    education: [
      "2015&nbsp;г. &mdash;&nbsp;факультет Лингвистики и&nbsp;Перевода по&nbsp;специальности &laquo;Теория и&nbsp;методика преподавания английского и&nbsp;немецкого языка&raquo;."
    ],
    expirience: [
      "Опыт работы в&nbsp;школе&nbsp;&mdash; 2&nbsp;года.",
      "Опыт репетиторства&nbsp;&mdash; 4&nbsp;года. Средний балл&nbsp;&mdash; <span class='teacher-card__circle'>80</span>."
    ]
 }, {
    name: "Ольга Владимировна Хандорина",
    subject: "Русский язык",
    mod: "handorina",
    vk: "https://vk.com/id453106253",
    isFree: false,
    expirience: [
      "Педагогический стаж&nbsp;&mdash; 20&nbsp;лет.",
      "Ведущий эксперт по&nbsp;проверке ОГЭ по&nbsp;русскому языку на&nbsp;протяжении 7&nbsp;лет.",
      "Репетитор по&nbsp;русскому языку, средний балл&nbsp;&mdash; <span class='teacher-card__circle'>84</span>.",
      "Ученики&nbsp;&mdash; призеры регионального этапа Всероссийской олимпиады по&nbsp;литературе. За&nbsp;последние 5&nbsp;лет&nbsp;&mdash; 7&nbsp;победителей Всероссийских НПК {Санкт-Петербург, Казань}."
    ]
 }, {
    name: "Лилия Сайфутдинова",
    subject: "Русский язык",
    mod: "sythutdinova",
    vk: "https://vk.com/id468268113",
    isFree: true,
    href: "sythutdinova.html",
    education: [
      "В&nbsp;2005 году окончена Краснополянская школа &#8470;&nbsp;2&nbsp;Вятскополянского района Кировской области с&nbsp;серебряной медалью.",
      "В&nbsp;2010 году окончила филологический факультет ТГГПУ {Татарский Государственный Гуманитарно-Педагогический Университет} по&nbsp;специальности учитель русского языка и&nbsp;литературы.",
      "В&nbsp;2013 году прошла повышение квалификации в&nbsp;&laquo;Российском новом университете&raquo;.",
      "В&nbsp;2013 году присвоена&nbsp;I квалификационная категория.",
      "2010-2012 учёба в&nbsp;аспирантуре КФУ"
    ],
    expirience: [
      "С&nbsp;2010 по&nbsp;настоящее время являюсь действующим учителем русского языка и&nbsp;литературы МБОУ &laquo;Гимназия &#8470;&nbsp;10&raquo; города Казани.",
      "С&nbsp;начала своей карьеры работаю с&nbsp;выпускными классами. Средний балл ОГЭ моих учеников&nbsp;&mdash; <span class='teacher-card__circle'>30</span>, средний балл ЕГЭ&nbsp;&mdash; <span class='teacher-card__circle'>70</span>&nbsp;{максимальный балл&nbsp;&mdash; <span class='teacher-card__circle'>96</span>, минимальный&nbsp;&mdash; <span class='teacher-card__circle'>46</span>}"
    ]
 }, {
    name: "Владимир Криворотов",
    subject: "Обществознание",
    mod: "krivorotov",
    vk: "https://vk.com/id462166773",
    isFree: true,
    href: "krivorotov.html",
    education: [
      "В&nbsp;2010 году закончил Южный Федеральный университет {РГУ} исторический факультет; квалификация: &laquo;История. Преподаватель истории&raquo; по&nbsp;специальности: &laquo;История&raquo;",
      "2011&nbsp;&mdash; профессиональная переподготовка в&nbsp;сфере &laquo;практическая юриспруденция&raquo;"
    ],
    expirience: [
      "Работаю в&nbsp;МБОУ СОШ &#8470;&nbsp;17 5&nbsp;лет в&nbsp;должности учителя истории и&nbsp;обществознания",
      "Средний балл в&nbsp;11&nbsp;классе&nbsp;&mdash; <span class='teacher-card__circle'>70</span>."
    ]
 }, {
    name: "Галкина Мария Андреевна",
    subject: "Английский язык",
    mod: "galkina",
    isFree: false,
    education: [
      "НИЯУ МИФИ, Институт Международных отношений;",
      "The Business English Certificate (ESOL), The University of&nbsp;Cambridge (2011&nbsp;г.)."
    ],
    expirience: [
      "Репетиторство: 5&nbsp;лет;",
      "Имеется опыт общения с&nbsp;иностранцами в&nbsp;течение 6&nbsp;лет;",
      "Средний балл учеников&nbsp;&mdash; <span class='teacher-card__circle'>94</span>."
    ]
  }]

section.teachers.teachers--delimiter
  .teachers__inner
    h2.teachers__title Наши преподаватели
    div.teachers__list
      each item in list
        div.teachers__item
          +teacher-card(item)
