.teachers {
  padding-top: 75px;
  padding-bottom: 64px;
  text-align: center;
  background-image: url("../img/bg-texture.jpg");

  &--delimiter {
    position: relative;
    padding-bottom: 90px;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 30px;
      height: 2px;
      background-image: linear-gradient(to left, #41e6a0, #7dcd1e);
    }
  }

  &__inner {
    width: 1110px;
    margin: 0 auto;
  }

  &__title {
    @include title;

    margin-top: 0;
    margin-bottom: 72px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    width: 540px;
    margin-bottom: 30px;
  }
}

@media (max-width: $tablet-container-width) {

  .teachers {
    max-width: $tablet-container-width;
    min-width: $tablet-content-width;
    padding-bottom: 0;

    &--delimiter::after {
      content: none;
    }

    &__title {
      margin-bottom: 79px;
    }

    &__inner {
      max-width: $tablet-container-width;
      min-width: $tablet-content-width;
      width: auto;
    }

    &__list {
      max-width: $tablet-container-width;
      min-width: $tablet-content-width;
      width: auto;
      flex: none;
    }

    &__item {
      width: 690px;
      margin-right: 20px;
    }
  }
}

@media (max-width: $mobile-container-width) {

  .teachers {
    max-width: $mobile-container-width;
    min-width: $mobile-content-width;
    padding-top: 47px;
    padding-bottom: 0;

    &__inner {
      max-width: $mobile-container-width;
      min-width: $mobile-content-width;
      width: auto;
    }

    &__title {
      font-size: 30px;
      margin-bottom: 43px;
    }

    &__list {
      max-width: $mobile-container-width;
      min-width: $mobile-content-width;
      width: auto;
      flex: none;
    }

    &__item {
      width: 280px;
      margin-right: 20px;
      margin-bottom: 0;
    }
  }
}
