.material-card {
  text-align: left;
  color: #333333;
  background-color: #ebebeb;
  border-radius: 3px;

  &--video {
    color: #ffffff;
    background-image: linear-gradient(to right, #ffa500, #ff6400);
  }

  &--article {
    color: #ffffff;
    background-image: linear-gradient(to right, #2d7df0, #8c2df0);
  }

  &--material {
    color: #ffffff;
    background-image: linear-gradient(to left, #41e6a0, #7dcd1e);
  }

  &__link {
    min-height: 350px;
    text-decoration: none;
    color: inherit;
    padding-top: 20px;
    padding-bottom: 110px;
    padding-left: 30px;
    padding-right: 60px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__title {
    margin-top: auto;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 21px;
    line-height: 30px;
  }

  &__subject {
    @include marked-text(rgba(255, 255, 255, 0.3));

    position: absolute;
    top: 20px;
    left: 30px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
  }

  &__type {
    position: absolute;
    left: 30px;
    bottom: 30px;
    padding-top: 6px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 15px;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: rgba(51, 51, 51, 0.45);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    clip-path: polygon(100% 0, calc(100% - 5px) 18%, 100% 32%, calc(100% - 5px) 50%, 100% 68%, calc(100% - 5px) 82%, 100% 100%, 0 100%, 0 0);
  }
}

@media (max-width: $mobile-container-width) {

  .material-card {

    &__title {
      font-size: 20px;
    }

    &__link {
      min-height: 280px;
      padding-bottom: 80px;
    }

    &__type {
      bottom: 20px;
    }
  }
}
