-
  var mapTypeToText = {
    video: "Видео",
    article: "Статья",
    material: "Материал"
  }

mixin material-card(item)
  article.material-card(class="material-card--" + item.type)
    a.material-card__link(href=item.href)
      h3.material-card__title!= item.title
      .material-card__subject= item.subject
      .material-card__type= mapTypeToText[item.type]
