include ../review-card/review-card

- var list = require("./source/blocks/reviews/data.js");

section.reviews(class=(pageId === 2) ? "reviews--delimiter" : "")
  if pageId === 2
    h1.reviews__title Отзывы
  else
    h2.reviews__title Отзывы о школе
  .reviews__inner
    a.reviews__video(href="#")#video-review Посмотреть видео
    ul.reviews__list(class= (pageId === 2) ? "reviews__list--bottom-gap reviews__list--all-visible" : null)
      each item, index in list
        li.reviews__item
          +review-card(item, index)
    +button("Все отзывы")(class= (pageId === 2) ? "reviews__more reviews__more--hidden" : "reviews__more" class="")
    if pageId === 2
      +button("Больше отзывов в ВК", "https://vk.com/podgotovka_k_ege?z=album-107679692_223954109")(class="reviews__more" target="_blank" data-ya="order13")
