.reviews {
  padding-top: 75px;
  padding-bottom: 89px;
  text-align: center;
  background-image: url("#{$path}img/bg-texture.jpg");

  &--delimiter {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 30px;
      height: 2px;
      background-image: linear-gradient(to left, #41e6a0, #7dcd1e);
    }
  }

  &__title {
    @include title;

    margin-top: 0;
    margin-bottom: 85px;
  }

  &__inner {
    @include container;
  }

  &__video {
    position: relative;
    display: block;
    width: 100%;
    height: 500px;
    margin-bottom: 30px;
    overflow: hidden;
    font-size: 0;
    background-image: url("#{$path}img/bg-video-success.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-right-radius: 50px;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 140px;
      height: 140px;
      background-image: url("../img/inline/icon-play.svg");
      background-repeat: no-repeat;
      background-position: center;
      transform: translate(-50%, -50%);
      transition-duration: 0.15s;
      transition-property: background-color;
    }

    &:hover {

      &::after {
        background-image: url("../img/inline/icon-play--hover.svg");
      }
    }
  }

  &__list {
    @include list-reset;

    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &--all-visible {
      margin-bottom: 0;

      .reviews {

        &__item {

          &:nth-last-child(-n + 6) {
            display: block;
          }
        }
      }
    }

    &--bottom-gap {
      margin-bottom: 60px;
    }
  }

  &__item {
    width: 350px;
    margin-bottom: 30px;

    &:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }

    &:nth-last-child(-n + 6) {
      display: none;
    }
  }

  &__more {

    &--hidden {
      display: none;
    }
  }
}

@media (max-width: $tablet-container-width) {

  .reviews {
    box-sizing: border-box;
    width: 100%;
    padding-left: 39px;
    padding-right: 39px;
    margin: 0 auto;
    padding-top: 55px;

    &__inner {
      max-width: 1110px;
      min-width: 690px;
      width: 100%;
    }

    &__title {
      margin-bottom: 80px;
    }

    &__list {
      @include list-reset;

      margin: 0 auto;
      margin-bottom: 60px;
      width: 690px;

      &--all-visible {
        margin-bottom: 0;

        .reviews {

          &__item {

            &:nth-last-child(-n + 7) {
              display: block;
            }
          }
        }
      }

      &--bottom-gap {
        margin-bottom: 60px;
      }
    }

    &__item {
      width: 330px;
      margin-bottom: 30px;

      &:nth-last-child(-n + 8) {
        margin-bottom: 30px;
      }

      &:nth-last-child(-n + 7) {
        display: none;
      }
    }
  }
}

@media (max-width: $mobile-container-width) {

  .reviews {
    box-sizing: border-box;
    max-width: $mobile-container-width;
    min-width: $mobile-content-width;
    width: 100%;
    padding-top: 45px;
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;

    &__inner {
      box-sizing: border-box;
      max-width: $mobile-container-width;
      min-width: 320px;
      width: 100%;
    }

    &__list {
      max-width: $mobile-container-width;
      min-width: 280px;
      width: 100%;
    }

    &__video {
      max-width: 727px;
      min-width: 240px;
      width: auto;
      height: 200px;
      margin-left: 20px;
      margin-right: 20px;
      border-bottom-right-radius: 50px;
      border-top-right-radius: 3px;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }

    &__title {
      font-size: 36px;
      margin-bottom: 45px;
    }

    &--delimiter::after {
      content: none;
    }

    &__more {
      padding-top: 30px;
      padding-bottom: 30px;
      padding-left: 40px;
      padding-right: 40px;
      width: 280px;

      &:hover {
        padding-top: 32px;
        padding-bottom: 32px;
        padding-left: 40px;
        padding-right: 40px;
        width: 280px;
      }
    }

    &__item {
      width: 280px;
      margin-left: 20px;
      margin-right: 20px;

      &:nth-last-child(-n + 7) {
        display: block;
      }
    }

    &__dots {
      @include list-reset;

      display: flex;
      justify-content: center;
      margin: 0 auto;

      button {
        position: relative;
        width: 30px;
        height: 30px;
        padding: 0;
        font-size: 0;
        background-color: transparent;
        border: 0;

        &:hover {
          cursor: pointer;

          &::after {
            opacity: 0.6;
          }
        }

        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          width: 10px;
          height: 10px;
          background-color: #b8b8b8;
          border-radius: 50%;
          transform: translate(-50%, -50%);
          opacity: 0.3;
          transition-duration: 0.12s;
          transition-property: opacity;
        }
      }

      .slick-active {

        button {

          &::after {
            background-image: linear-gradient(to left, #41e6a0, #7dcd1e);
            opacity: 1;
          }
        }
      }
    }
  }
}
