section.lesson-example
  h3.lesson-example__title Пример реального урока
  .lesson-example__wrapper
    a.lesson-example__video(href="#" data-modal="video") Посмотреть видео
    p.lesson-example__description Почему обучение в&nbsp;нашей онлайн-школе уникально? Ответ в&nbsp;кратком видеоролике.
