.lesson-example {
  text-align: left;
  border-radius: 3px;
  box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.05);
  background-color: #ffffff;

  &__title {
    @include visually-hidden;
  }

  &__wrapper {
    lost-center: $desktop-content-width;
  }

  &__video {
    position: relative;
    display: block;
    height: 260px;
    font-size: 0;
    background-color: #ebebeb;
    background-image: url("../img/bg-lesson-example.jpg");
    background-size: cover;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    lost-column: 1/2;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 140px;
      height: 140px;
      background-image: url("../img/inline/icon-play.svg");
      background-repeat: no-repeat;
      background-position: center;
      transform: translate(-50%, -50%);
      transition-duration: 0.15s;
      transition-property: background-color;
    }

    &:hover {

      &::after {
        background-image: url("../img/inline/icon-play--hover.svg");
      }
    }
  }

  &__description {
    position: relative;
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
    padding-right: 91px;
    color: #767676;
    lost-column: 1/2;

    &::after {
      content: "";
      position: absolute;
      bottom: 60px;
      left: 44px;
      width: 76px;
      height: 10px;
      background-image: url("../img/inline/icon-arrow-left--green.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

@media (max-width: $tablet-container-width) {

  .lesson-example {

    &__video {
      width: 300px;
      height: 300px;
      background-position: center center;
    }

    &__description {
      padding-top: 49px;
      padding-right: 47px;
      padding-left: 19px;

      &::after {
        left: 20px;
        bottom: 65px;
      }
    }
  }
}

@media (max-width: $mobile-container-width) {

  .lesson-example {

    &__description {
      lost-column: 1/1;
      padding: 20px;
      font-size: 16px;

      &::after {
        content: none;
      }
    }

    &__video {
      min-width: 280px;
      height: 220px;
      lost-column: 1/1;
      border-top-right-radius: 3px;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 0;
    }
  }
}
