.content {

  &__inner {
    @include container;
  }

  &__content {
    padding-left: 190px;
    padding-right: 190px;
    padding-top: 80px;
    padding-bottom: 30px;

    p {
      margin-top: 0;
      margin-bottom: 37px;
      font-size: 16px;
      line-height: 30px;

      &:first-of-type {
        font-size: 21px;
        line-height: 30px;
        margin-bottom: 42px;
      }
    }

    h1,
    h2 {
      margin-top: 61px;
      margin-bottom: 34px;
      font-weight: 300;
      font-size: 38px;
      line-height: 55px;

      &:first-of-type {
        margin-top: 0;
      }
    }

    h3,
    h4,
    h5,
    h6 {
      margin-top: 70px;
      margin-bottom: 40px;
      font-weight: 400;
      font-size: 25px;
      line-height: 35px;
    }

    img {
      margin-bottom: 50px;
      border-radius: 3px;
    }

    ol {
      @include list-reset;

      font-size: 16px;
      line-height: 30px;
      counter-reset: list;
      margin-bottom: 51px;

      li {
        position: relative;
        margin-bottom: 20px;
        padding-left: 58px;
        color: #333333;

        &::before {
          content: "0" counter(list);
          position: absolute;
          top: -5px;
          left: 0;
          width: 36px;
          height: 36px;
          font-weight: 700;
          font-size: 13px;
          line-height: 36px;
          text-align: center;
          color: #333333;
          border: solid 2px #41e6a0;
          border-radius: 50%;
          counter-increment: list;
        }

        &:nth-child(n + 10) {

          &::before {
            content: "" counter(list);
          }
        }
      }
    }

    ul {
      margin-top: 0;
      padding-left: 16px;
      font-size: 16px;
      line-height: 30px;
      margin-bottom: 51px;
    }
  }
}

@media (max-width: $tablet-container-width) {

  .content {
    max-width: $tablet-container-width;
    min-width: $tablet-content-width;

    &__inner {
      width: 690px;
    }

    &__content {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

@media (max-width: $mobile-container-width) {

  .content {
    max-width: $mobile-container-width;
    min-width: $mobile-content-width;

    &__inner {
      width: auto;
      padding-left: 20px;
      padding-right: 20px;
    }

    &__content {
      padding-left: 0;
      padding-right: 0;
      padding-top: 30px;
      padding-bottom: 0;

      ol {
        margin-bottom: 30px;

        li {
          padding-left: 48px;

          &::before {
            width: 26px;
            height: 26px;
            top: 0;
            font-size: 10px;
            line-height: 26px;
          }
        }
      }
    }

    h1,
    h2 {
      margin-top: 35px;
      margin-bottom: 27px;
      font-weight: 300;
      font-size: 30px;
      line-height: 45px;

      &:first-of-type {
        margin-top: 0;
      }
    }

    h3,
    h4,
    h5,
    h6 {
      margin-top: 35px;
      margin-bottom: 27px;
      font-weight: 300;
      font-size: 20px;
      line-height: 35px;
    }
  }
}
