.video-modal {

  &__title {
    @include title;

    margin-top: 0;
    margin-bottom: 79px;
  }

  &__marked {
    @include marked-text--big;
  }

  &__video {
    box-sizing: border-box;
    width: 874px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #ebebeb;
    border-radius: 3px;

    iframe {
      width: 100%;
      height: 100%;
    }
  }
}

@media (max-width: $tablet-container-width) {

  .video-modal {
    width: 690px;
    margin: 0 auto;

    &__title {
      width: 450px;
      margin: 0 auto;
      margin-bottom: 80px;
    }

    &__video {
      width: 690px;
      height: 394px;
    }
  }
}

@media (max-width: $mobile-container-width) {

  .video-modal {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background-color: #262626;

    &__title {
      display: none;
    }

    &__video {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 100vmin;
      height: 56.25vmin;
      border: none;
      padding: 0;
    }
  }
}
