section.offer
  .offer__inner
    h1.offer__title Упрости подготовку к&nbsp;ЕГЭ и&nbsp;<br>гарантируй себе <br> <span class="offer__marked">успешную сдачу</span>
    p.offer__description Мы&nbsp;поможем тебе упорядочить знания. Скачай <span class="offer__marked-text">5&nbsp;лайфхаков,</span> которые помогут в&nbsp;этом прямо сейчас. <span class="offer__marked-text">Это бесплатно!</span>
    ul.offer__links
      li.offer__links-item
        +button("Получить 5 лайфхаков", "lifehack.html")(class="button--gradient offer__links-button")
      li.offer__links-item
        +button("Пройти экспресс-тест", href="test/")(class="offer__links-button offer__links-button--bottom")
    .offer__status Открыт набор
    ul.offer__university-list
      li.offer__university-item.offer__university-item--ranepa РАНХиГС
      li.offer__university-item.offer__university-item--rudn РУДН
      li.offer__university-item.offer__university-item--msu МГУ
