.offer {
  padding-top: 160px;
  padding-bottom: 160px;
  background-image: url("#{$path}img/bg-texture.jpg");

  &__inner {
    @include container;

    position: relative;
    padding-top: 70px;
  }

  &__status {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 6px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 15px;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #2d7df0, #8c2df0);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    clip-path: polygon(100% 0, calc(100% - 5px) 18%, 100% 32%, calc(100% - 5px) 50%, 100% 68%, calc(100% - 5px) 82%, 100% 100%, 0 100%, 0 0);
  }

  &__title {
    @include title;

    margin-top: 0;
    margin-bottom: 42px;
    line-height: 60px;
    text-align: left;
    color: #333333;
  }

  &__description {
    max-width: 720px;
    margin-top: 0;
    margin-bottom: 53px;
  }

  &__links {
    @include list-reset;

    display: flex;
  }

  &__links-item {
    margin-left: 15px;
    margin-right: 15px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__university-list {
    @include list-reset;
  }

  &__university-item {
    position: absolute;
    font-size: 0;

    &--ranepa {
      top: -110px;
      left: 560px;
      width: 156px;
      height: 140px;
      background-image: url("../img/icon-ranepa-logo.png");
      background-repeat: no-repeat;
      background-position: center;
    }

    &--rudn {
      right: 220px;
      bottom: -42px;
      width: 190px;
      height: 203px;
      background-image: url("../img/icon-rudn-logo.png");
      background-repeat: no-repeat;
      background-position: center;
    }

    &--msu {
      right: -15px;
      bottom: -70px;
      width: 240px;
      height: 243px;
      background-image: url("../img/icon-msu-logo.png");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__marked {
    @include marked-text--big;
  }

  &__marked-text {
    font-weight: 700;
  }
}

@media (max-width: $tablet-container-width) {

  .offer {
    min-width: $tablet-content-width;
    width: 100%;
    padding-top: 97px;
    padding-bottom: 286px;

    &__inner {
      width: 690px;
      box-sizing: border-box;
    }

    &__title {
      width: 660px;
      font-size: 50px;
      line-height: 50px;
      margin-bottom: 34px;
    }

    &__description {
      margin-bottom: 40px;
    }

    &__university-item {

      &--msu {
        bottom: -260px;
        left: 0;
      }

      &--rudn {
        left: 288px;
        bottom: -235px;
      }

      &--ranepa {
        top: 530px;
        left: 515px;
      }
    }
  }
}

@media (max-width: $mobile-container-width) {

  .offer {
    min-width: $mobile-content-width;
    padding-top: 30px;
    padding-bottom: 20px;

    &__inner {
      max-width: $mobile-container-width;
      width: 100%;
      min-width: $mobile-content-width;
      padding-left: 0;
      padding-right: 0;
      padding-top: 50px;
    }

    &__title {
      box-sizing: border-box;
      max-width: $mobile-container-width;
      width: 100%;
      min-width: $mobile-content-width;
      padding-left: 20px;
      padding-right: 20px;
      font-size: 30px;
      line-height: 30px;
      margin-bottom: 16px;
    }

    &__marked::after {
      height: 13px;
    }

    &__description {
      font-size: 16px;
      padding-right: 20px;
      padding-left: 20px;
      margin-bottom: 21px;
    }

    &__status {
      left: 20px;
    }

    &__links {
      display: flex;
      flex-direction: column;
      padding-left: 20px;
      padding-right: 20px;
    }

    &__links-item {
      margin-left: 0;
      margin-right: 0;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    &__links-button {
      font-size: 16px;
      margin-left: 0;
      margin-right: 0;
      padding-top: 22px;
      padding-bottom: 22px;
      padding-left: 40px;
      padding-right: 40px;

      &:hover {
        font-size: 16px;
        margin-left: 0;
        margin-right: 0;
        padding-top: 22px;
        padding-bottom: 22px;
        padding-left: 40px;
        padding-right: 40px;
      }

      &:first-child {
        margin-bottom: 10px;
      }

      &--bottom:hover {
        padding-top: 24px;
        padding-bottom: 24px;
        padding-left: 42px;
        padding-right: 42px;
      }
    }

    &__university-item {

      &--msu {
        display: none;
      }

      &--rudn {
        display: none;
      }

      &--ranepa {
        display: none;
      }
    }
  }
}
