.field-text {
  position: relative;

  &__name {
    position: relative;
    display: block;
  }

  &__text {
    position: absolute;
    bottom: 34px;
    left: 0;
    display: block;
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    font-family: inherit;
    text-align: left;
    color: #ffffff;
    transform-origin: left;
    cursor: text;
    pointer-events: none;
  }

  &__input {
    box-sizing: border-box;
    width: 100%;
    padding-bottom: 33px;
    padding-right: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    font-family: inherit;
    color: #ffffff;
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #ffffff;
    border-radius: 0;
    outline: none;
    box-shadow: none;
    transition-duration: 0.2s;
    transition-property: border-color;
    appearance: none;

    &::placeholder {
      color: transparent;
    }

    // &:valid + .field-text__text {
    //   font-size: 0;
    // }

    &:focus {
      border-bottom-color: #41e6a0;

      & + .field-text__text {
        font-size: 0;
      }

      & ~ .field-text__color-aqua--star {
        font-size: 0;
      }
    }
  }

  &__error-message {
    position: absolute;
    top: 80px;
    left: 0;
    max-width: 200px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    color: #ffffff;
    pointer-events: none;
  }

  &--error {

    .field-text__input {
      border-color: #ff1414;
    }

    // .field-text__text {
    //   font-size: 0;
    // }
  }

  &--fill {

    .field-text__text {
      font-size: 0;
    }

    .field-text__color-aqua--star {
      font-size: 0;
    }
  }

  &__color-aqua--star {
    position: absolute;
    left: 122px;
    top: 0;
    color: #41e6a0;

    &-email {
      left: 88px;
    }

    &-question {
      left: 170px;
    }
  }
}

@media (max-width: $mobile-container-width) {

  .field-text {

    &__input {
      font-size: 16px;
      padding-bottom: 0;
    }

    &__text {
      bottom: 15px;
    }

    &__error-message {
      font-size: 10px;
      top: 30px;
    }

    &__color-aqua--star {
      position: absolute;
      left: 122px;
      top: -10px;
      color: #41e6a0;

      &-email {
        left: 88px;
      }

      &-question {
        left: 170px;
      }
    }
  }
}
