.similar-materials {
  padding-top: 75px;
  padding-bottom: 90px;
  text-align: center;
  background-image: url("../img/bg-texture.jpg");

  &__inner {
    @include container;
  }

  &__title {
    @include title;

    margin-top: 0;
    margin-bottom: 85px;
    color: #333333;
  }

  &__list {
    @include list-reset;

    lost-center: $desktop-content-width;
  }

  &__item {
    lost-column: 1/3;
  }

  &__marked-text {
    @include marked-text--big;
  }
}
