include ../material-card/material-card

- var list = require("./source/blocks/materials/data.js");

section.similar-materials
  h2.similar-materials__title Материалы <span class="similar-materials__marked-text">по теме</span>
  ul.similar-materials__list
    - var i = 0;
    while i < 3
      li.similar-materials__item
        +material-card(list[i])
        - i++
