main.blog-article
  .blog-article__top
    .blog-article__inner
      .blog-article__subject Лайфхаки
      .blog-article__wrapper
        h1.blog-article__title Как грамотно <span class="blog-article__marked-text">организовать</span> свое время?
        .blog-article__date 31 января 2018
        .blog-article__type Статья
        p.blog-article__lead Давай разберем несколько принципов, которыми я&nbsp;стараюсь пользоваться, чтобы успевать немножечко больше, чем остальные
  include ../content/content
    block content
      h2 Понять, что ты&nbsp;хочешь.
      p Это, действительно, очень важно. Всем известно, что мы&nbsp;живем среди стереотипов и&nbsp;навязанных мнений, которые затемняют наше сознание и&nbsp;истинные желания отходят на&nbsp;второй план
      p Ты&nbsp;пойми, что если ты&nbsp;чего-то не&nbsp;хочешь, то&nbsp;ты&nbsp;этого никогда не&nbsp;сделаешь. Могу тебе рассказать на&nbsp;личном примере: меня с&nbsp;детства пытались заставить выучить английский, и&nbsp;общество диктовало, что это первая необходимость... Так вот, пока я&nbsp;не&nbsp;поняла, что иностранные языки совсем мне не&nbsp;нравятся, я&nbsp;усиленно пыталась выжать из&nbsp;себя произношение.
      p Успехом дело не&nbsp;обвенчалось. По&nbsp;работе и&nbsp;в&nbsp;школе/институте вопрос с&nbsp;языком не&nbsp;стоял, поэтому мною должно было двигать собственное желание. Которого не&nbsp;было.
      p В&nbsp;итоге язык я&nbsp;так и&nbsp;не&nbsp;выучила, зато теперь меня не&nbsp;трогают различные порицания по&nbsp;типу &laquo;вообще-то иностранный должны знать все&raquo; или &laquo;как тебе не&nbsp;стыдно, ты&nbsp;же в&nbsp;21-ом веке живешь&raquo;
      p Не&nbsp;стыдно. Зато русский я&nbsp;знаю отлично и&nbsp;люблю свой язык
      p Поэтому прислушайся к&nbsp;себе
      h2 Выписать на&nbsp;бумагу абсолютно все.
      p Да, все дела, которые нужно сделать. Даже самые маленькие и&nbsp;незначительные. Это здорово разгружает голову и&nbsp;освобождает место для новых мыслей.
      p У&nbsp;обычного человека получается порядка 80-100&nbsp;дел. Не&nbsp;забудь включить в&nbsp;список и походы в&nbsp;магазин, и&nbsp;просмотр фильмов. Да-да, все дела
      p Потом все это нужно расформировать по&nbsp;категориям, например, дела по&nbsp;дому; отдых; чтение; общение с&nbsp;друзьями/родителями и&nbsp;так далее. Получается, что все очень классно систематизируется и&nbsp;ты&nbsp;будешь понимать, что и&nbsp;когда нужно сделать
      p А&nbsp;ещё есть такая противная вещь... хммм... даже не&nbsp;знаю как описать. В&nbsp;общем, когда ты только думаешь о&nbsp;делах и&nbsp;о&nbsp;том, что нужно сделать, то&nbsp;тебе кажется, что всего очень и очень много и&nbsp;тебе даже не&nbsp;хочется за&nbsp;это браться. Ты&nbsp;пытаешься оттянуть момент&nbsp;Х и убить время, лишь&nbsp;бы не&nbsp;начинать
      p А&nbsp;теперь секрет
      p Дел не&nbsp;так уж&nbsp;и&nbsp;много. Ты&nbsp;попробуй их&nbsp;просто выписать и&nbsp;все будет очевидно
      p Кстати, буду рада, если напишешь мне потом о&nbsp;своих успехах. Сегодня разобрала два основных принципа планирования, скоро распишу и&nbsp;остальные
