.blog-article {

  &__top {
    position: relative;
    padding-top: 116px;
    padding-bottom: 90px;
    text-align: center;
    color: #ffffff;
    background-image: linear-gradient(to right, #2d7df0, #f02d96);
  }

  &__inner {
    @include container;
  }

  &__wrapper {
    padding-left: 190px;
    padding-right: 190px;
    position: relative;
  }

  &__title {
    @include title;

    margin-top: 0;
    margin-bottom: 85px;
    line-height: 60px;
  }

  &__subject {
    @include marked-text(rgba(255, 255, 255, 0.3));

    position: absolute;
    top: 20px;
    right: 50%;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    transform: translateX(50%);
  }

  &__date {
    font-size: 13px;
    line-height: 20px;
    font-weight: 700;
    color: #ffffff;
    position: absolute;
    left: 0;
    top: 55px;
  }

  &__type {
    display: block;
    position: absolute;
    left: 0;
    top: 23px;
    margin-bottom: 60px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: rgba(51, 51, 51, 0.45);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    clip-path: polygon(100% 0, calc(100% - 5px) 18%, 100% 32%, calc(100% - 5px) 50%, 100% 68%, calc(100% - 5px) 82%, 100% 100%, 0 100%, 0 0);
  }

  &__lead {
    margin-top: 0;
    margin-bottom: 50px;
    text-align: left;
  }

  &__link {
    margin-top: 20px;
  }

  &__video {
    height: 500px;
    margin-top: 80px;
    background-color: #ebebeb;
    border: 10px solid #ffffff;
    border-radius: 3px;
  }

  &__marked-text {
    @include marked-text--big;
  }
}

@media (max-width: $tablet-container-width) {

  .blog-article {
    max-width: $tablet-container-width;
    min-width: $tablet-content-width;

    &__inner {
      width: 690px;
    }

    &__wrapper {
      padding-left: 0;
      padding-right: 0;
    }

    &__type {
      top: -90px;
      left: 0;
    }

    &__date {
      min-width: 110px;
      top: -90px;
      left: 585px;
    }
  }
}

@media (max-width: $mobile-container-width) {

  .blog-article {
    box-sizing: border-box;
    max-width: $mobile-container-width;
    min-width: $mobile-content-width;

    &__top {
      padding-top: 95px;
      padding-bottom: 20px;
    }

    &__inner {
      width: auto;
      padding-left: 20px;
      padding-right: 20px;
    }

    &__subject {
      font-size: 14px;
      right: 20px;
      transform: translateX(0%);

      &::after {
        width: 100%;
      }
    }

    &__title {
      font-size: 30px;
      margin-bottom: 50px;
    }

    &__type {
      top: -80px;
    }

    &__date {
      left: 0;
      top: -45px;
    }

    &__lead {
      font-size: 16px;
    }
  }
}
