include ../material-card/material-card

- var list = require("./source/blocks/materials/data.js");

main.materials
  .materials__inner
    h1.materials__title <span class="materials__marked-text">Полезные</span> материалы
    ul.materials__list.materials__list--all-visible
      each item in list
        li.materials__item
          +material-card(item)
    +button("Все материалы")(class="materials__more materials__more--hidden")
