.materials {
  padding-top: 75px;
  padding-bottom: 90px;
  text-align: center;
  background-image: url("../img/bg-texture.jpg");

  &__inner {
    @include container;
  }

  &__title {
    @include title;

    margin-top: 0;
    margin-bottom: 85px;
    color: #333333;
  }

  &__list {
    @include list-reset;

    margin-bottom: 70px;
    lost-center: $desktop-content-width;

    &--all-visible {
      margin-bottom: 0;

      .materials {

        &__item {

          &:nth-last-child(-n + 6) {
            display: block;
          }
        }
      }
    }
  }

  &__item {
    margin-bottom: 30px;
    lost-column: 1/3;

    &:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }

    &:nth-last-child(-n + 6) {
      display: none;
    }
  }

  &__more {

    &--hidden {
      display: none;
    }
  }

  &__marked-text {
    @include marked-text--big;
  }
}

@media (max-width: $tablet-container-width) {

  .materials {
    max-width: $tablet-container-width;
    min-width: $tablet-content-width;

    &__inner {
      width: 690px;
    }

    &__list {
      lost-center: $tablet-content-width;
    }

    &__item {
      lost-column: 1/2;
    }
  }
}

@media (max-width: $mobile-container-width) {

  .materials {
    box-sizing: border-box;
    max-width: $mobile-container-width;
    min-width: $mobile-content-width;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
    padding-bottom: 20px;

    &__inner {
      width: auto;
    }

    &__title {
      font-size: 36px;
      margin-bottom: 50px;
    }

    &__list {
      lost-center: $mobile-content-width;
    }

    &__item {
      lost-column: 1/1;
      margin-bottom: 20px;

      &:nth-last-child(-n + 3) {
        margin-bottom: 20px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__more {
      width: 280px;
      padding-top: 29px;
      padding-bottom: 27px;

      &:hover {
        width: 280px;
        padding-top: 31px;
        padding-bottom: 29px;
      }
    }
  }
}
