.process-card {
  position: relative;
  padding-top: 35px;
  padding-left: 129px;
  text-align: left;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
  }

  &--format {

    &::before {
      background-image:
      url("../img/inline/icon-planes.svg"),
      linear-gradient(to right, #2d7df0, #8c2df0);
    }
  }

  &--complex {

    &::before {
      background-image:
      url("../img/inline/icon-brain.svg"),
      linear-gradient(to right, #2d7df0, #8c2df0);
      background-position: center 34px, center;
    }
  }

  &--duration {

    &::before {
      background-image:
      url("../img/inline/icon-timer.svg"),
      linear-gradient(to right, #2d7df0, #8c2df0);
      background-position: center 27px, center;
    }
  }

  &--price {

    &::before {
      background-image:
      url("../img/inline/icon-shield.svg"),
      linear-gradient(to right, #2d7df0, #8c2df0);
    }
  }

  &--face-control {

    &::before {
      background-image:
      url("../img/inline/icon-head.svg"),
      linear-gradient(to right, #2d7df0, #8c2df0);
    }
  }

  &--checking {

    &::before {
      background-image:
      url("../img/inline/icon-bubbles.svg"),
      linear-gradient(to right, #2d7df0, #8c2df0);
    }
  }

  &--probe {

    &::before {
      background-image:
      url("../img/inline/icon-box.svg"),
      linear-gradient(to right, #2d7df0, #8c2df0);
    }
  }

  &--materials {

    &::before {
      background-image:
      url("../img/inline/icon-stack.svg"),
      linear-gradient(to right, #2d7df0, #8c2df0);
    }
  }

  &--support {

    &::before {
      background-image:
      url("../img/inline/icon-eye.svg"),
      linear-gradient(to right, #2d7df0, #8c2df0);
    }
  }

  &__title {
    @include subtitle--marked;

    z-index: 2;
  }

  &__description {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 30px;
    color: #767676;
  }
}

@media (max-width: $tablet-container-width) {

  .process-card--checking {

    & .process-card__title {
      position: absolute;
      width: 222px;
      top: 35px;
      left: 129px;
    }

    & .process-card__description {
      padding-top: 48px;
    }
  }
}

@media (max-width: $mobile-container-width) {

  .process-card {
    width: 280px;
    padding-left: 0;
    padding-top: 120px;
    text-align: center;

    &::before {
      left: 0;
      right: 0;
      margin: auto;
    }
  }

  .process-card--checking {

    & .process-card__title {
      position: relative;
      width: auto;
      top: 0;
      left: 0;
    }

    & .process-card__description {
      padding-top: 0;
    }
  }
}
