mixin program-card(item)
  .program-card
    .program-card__title!= item.title
    .program-card__period(class="program-card__period--" + item.period.mod)!= item.period.text
    .program-card__inner
      .program-card__wrapper
        p.program-card__description!= item.description
        ul.program-card__features
          each feature in item.features
            li.program-card__features-item!= feature
        button.program-card__toggle-button Подробнее...
      .program-card__prices
        if item.priceCaption
          p.program-card__price-caption!= item.priceCaption
        .program-card__price-list
          each priceItem in item.price
            .program-card__price-item
              .program-card__price-name!= priceItem.name
              .program-card__price-value <span class="program-card__marked-value">#{priceItem.value} Р</span>/мес.
        if item.priceCaption
          p.program-card__price-caption!= item.priceSecondCaption
        if item.priceSecond
          .program-card__price-list
            each priceItem in item.priceSecond
              .program-card__price-item
                .program-card__price-name!= priceItem.name
                .program-card__price-value <span class="program-card__marked-value">#{priceItem.value} Р</span>/мес.
      if !item.isDelayed
        +button("Записаться на обучение", href=item.href)(class="button--gradient programs__link")
