.program-card {
  text-align: left;

  &__inner {
    display: flex;
    flex-wrap: wrap;
  }

  &__wrapper {
    width: 710px;
    padding-right: 130px;
  }

  &__prices {
    flex-basis: 150px;
    min-width: 150px;

    &::before {
      content: "";
      display: block;
      width: 150px;
      height: 2px;
      margin-bottom: 28px;
      background-image: linear-gradient(to left, #41e6a0, #7dcd1e);
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 300;
    font-size: 38px;
    line-height: 55px;
  }

  &__period {
    display: inline-block;
    margin-bottom: 60px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 13px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #cccccc, #777777);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    clip-path: polygon(100% 0, calc(100% - 5px) 18%, 100% 32%, calc(100% - 5px) 50%, 100% 68%, calc(100% - 5px) 82%, 100% 100%, 0 100%, 0 0);

    &--blue {
      background-image: linear-gradient(to right, #2d7df0, #8c2df0);
    }

    &--orange {
      background-image: linear-gradient(to right, #ffa500, #ff6400);
    }

    &--green {
      background-image: linear-gradient(to right, #41e6a0, #7dcd1e);
    }
  }

  &__description {
    // for mockup accuracy
    margin-top: -11px;
    margin-bottom: 46px;
  }

  &__features {
    @include list-reset;

    padding-bottom: 50px;
    font-size: 16px;
    line-height: 30px;
    counter-reset: list;
  }

  &__features-item {
    position: relative;
    margin-bottom: 20px;
    padding-left: 58px;
    color: #333333;

    &:last-child {
      margin-bottom: 0;
    }

    &::before {
      content: "0" counter(list);
      position: absolute;
      top: -6px;
      left: 0;
      width: 36px;
      height: 36px;
      font-weight: 700;
      font-size: 13px;
      line-height: 36px;
      text-align: center;
      color: #333333;
      border: solid 2px #41e6a0;
      border-radius: 50%;
      counter-increment: list;
    }
  }

  &__price-caption {
    margin-top: 0;
    margin-bottom: 9px;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
  }

  &__price-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 20px;
    border: solid 1px #ebebeb;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__price-item {
    box-sizing: border-box;
    padding-top: 3px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;
    border-bottom: 1px solid #ebebeb;

    &:last-child {
      border-bottom: 0;
    }
  }

  &__price-name {
    font-size: 13px;
    line-height: 30px;
  }

  &__price-value {
    margin-left: 0;
    font-size: 13px;
    line-height: 30px;
    transform: translateY(-8px);
  }

  &__marked-value {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
  }

  &__toggle-button {
    display: none;
  }
}

@media (max-width: $tablet-container-width) {

  .program-card {
    width: 100%;
    min-width: 570px;

    &__inner {
      width: 100%;
    }

    &__wrapper {
      padding-right: 0;
      width: 100%;
    }

    &__prices {
      flex-basis: 100%;
      margin-bottom: 0;
    }

    &__price-list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 590px;
    }

    &__price-item {
      border-right: 1px solid #ebebeb;
      border-bottom: none;
      flex-grow: 1;

      &:last-child {
        border-right: none;
      }
    }

    &__prices::before {
      display: none;
    }
  }
}

@media (max-width: $mobile-container-width) {

  .program-card {
    max-width: 687px;
    min-width: 240px;
    width: 100%;

    &__inner {
      width: 100%;
    }

    &__title {
      font-size: 30px;
      line-height: 1.3em;
    }

    &__period {
      margin-top: 10px;
      margin-bottom: 40px;
    }

    &__description {
      font-size: 16px;
      margin-bottom: 20px;
    }

    &__features {
      padding-bottom: 20px;
      display: none;
    }

    &__prices {
      margin-bottom: 30px;
    }

    &__price-list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      min-width: 240px;
      max-width: 350px;
      width: 100%;
    }

    &__price-item {
      border-bottom: 1px solid #ebebeb;
      min-width: 120px;
    }

    &__toggle-button {
      display: block;
      background-color: transparent;
      border: none;
      font-size: 16px;
      text-decoration: underline;
      text-decoration-color: #ebebeb;
      cursor: pointer;
      margin-bottom: 20px;
    }

    &__features--hide {
      display: block;
    }
  }
}
