include ../blog-card/blog-card

- var list = require("./source/blocks/blog/data.js");

main.blog
  .blog__inner
    h1.blog__title <span class="blog__marked-text">Статьи</span> блога
    ul.blog__list
      each item in list
        li.blog__item
          +blog-card(item)
