.blank-modal {

  &__title {
    @include title;

    margin-top: 0;
    margin-bottom: 79px;
  }

  &__marked {
    @include marked-text--big;
  }

  &__blank-image {
    box-sizing: border-box;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    text-align: center;
  }
}
