.question {
  position: relative;

  &__inner {
    position: relative;
    box-sizing: border-box;
    width: 990px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 90px;
    padding-bottom: 79px;
    padding-left: 90px;
    padding-right: 90px;
    border: solid 2px rgba(255, 255, 255, 0.1);
    border-radius: 3px;
  }

  &__title {
    @include title;

    margin-top: 0;
    margin-bottom: 79px;
  }

  &__form {
    transition-duration: 0.22s;
    transition-property: opacity;

    &--hidden {
      opacity: 0;
      pointer-events: none;
    }
  }

  &__inputs-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 81px;
  }

  &__inputs-item {
    flex-shrink: 0;
    width: calc((100% - 60px) / 3);
    margin-bottom: 90px;

    &--wide {
      flex-grow: 1;
      width: 100%;
      margin-bottom: 0;
    }
  }

  &__submit-wrapper {
    align-items: center;
    lost-center: 810px;
  }

  &__submit {
    lost-column: 1/3;
  }

  &__consent {
    font-size: 16px;
    line-height: 30px;
    lost-column: 2/3;
  }

  &__consent-link {
    @include link;
  }

  &__marked {
    @include marked-text--big;
  }

  &__thanks {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
    transition-duration: 0.22s;
    transition-property: opacity;
    pointer-events: none;

    &--visible {
      opacity: 1;
      pointer-events: auto;
    }
  }

  &__thanks-title {
    position: relative;
    margin-top: 0;
    margin-bottom: 18px;
    padding-bottom: 19px;
    font-weight: 300;
    font-size: 38px;
    line-height: 55px;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 30px;
      height: 2px;
      background-image: linear-gradient(to left, #41e6a0, #7dcd1e);
      transform: translateX(-50%);
    }
  }

  &__description {
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 21px;
    line-height: 30px;
  }
}

@media (max-width: $tablet-container-width) {

  .question {
    max-width: $tablet-container-width;
    min-width: $tablet-content-width;

    &__inner {
      width: 690px;
      padding-left: 60px;
      padding-right: 60px;
    }

    &__inputs-list {
      margin-bottom: 0;
    }

    &__inputs-item {
      flex-grow: 0;
      width: calc((100% - 30px) / 2);
      margin-bottom: 90px;

      &--wide {
        flex-grow: 0;
        width: calc((100% - 30px) / 2);
      }
    }

    &__consent {
      position: relative;
      box-sizing: border-box;
      lost-column: 1/2;
      padding-left: 34px;

      &::before {
        position: absolute;
        content: " ";
        width: 24px;
        height: 20px;
        background-image: url("../img/inline/check-mark.svg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100%;
        top: 4px;
        left: 0;
      }
    }

    &__submit {
      lost-column: 1/2;
    }
  }
}

@media (max-width: $mobile-container-width) {

  .question {
    box-sizing: border-box;
    max-width: $mobile-container-width;
    min-width: $mobile-content-width;
    padding-left: 20px;
    padding-right: 20px;

    &__inner {
      box-sizing: border-box;
      width: auto;
      padding-top: 25px;
      padding-right: 20px;
      padding-bottom: 60px;
      padding-left: 20px;
    }

    &__title {
      margin-top: 30px;
      margin-bottom: 30px;
      font-size: 30px;
    }

    &__inputs-item {
      flex-grow: 0;
      width: 100%;
      margin-bottom: 30px;

      &--wide {
        flex-grow: 0;
        width: 100%;
      }
    }

    &__consent {
      box-sizing: border-box;
      font-size: 14px;
      line-height: 1.6em;
      max-width: 687px;
      min-width: 240px;
      width: 100%;
      min-height: 60px;
      padding-left: 35px;
      padding-right: 10px;
      margin-bottom: 25px;
      lost-column: 1/1;
    }

    &__submit {
      width: 280px;
      padding-top: 26px;
      padding-bottom: 24px;
      lost-column: 1/1;

      &:hover {
        width: 240px;
        padding-top: 25px;
        padding-bottom: 25px;
      }
    }

    &__thanks-title {
      font-size: 24px;
    }

    &__description {
      font-size: 16px;
      line-height: 1.6em;
      padding: 20px;
    }

    &__one-more {
      width: 240px;
      border-radius: 50px;
      font-size: 14px;
      padding-top: 26px;
      padding-bottom: 24px;

      &:hover {
        width: 240px;
        padding-top: 25px;
        padding-bottom: 25px;
      }
    }
  }
}
