include ../field-text/field-text
include ../button/button

.question
  h2.question__title Задать <span class="callback__marked">вопрос</span>
  .question__inner
    form.question__form(action="mail.php" method="post")
      .question__inputs-list
        .question__inputs-item
          .field-text
            label.field-text__name
              input.field-text__input(type="text" name="name" required)
              span.field-text__text Как вас зовут
              span.field-text__color-aqua--star *
              span.field-text__error-message
        .question__inputs-item
          .field-text
            label.field-text__name
              input.field-text__input(type="email" name="email" required)
              span.field-text__text Ваш email
              span.field-text__color-aqua--star.field-text__color-aqua--star-email *
              span.field-text__error-message
        .question__inputs-item
          +field-text("Ваш телефон")(type="tel" name="phone")
        .question__inputs-item.question__inputs-item--wide
          .field-text
            label.field-text__name
              input.field-text__input(type="text" name="interest" required)
              span.field-text__text Что вас интересует
              span.field-text__color-aqua--star.field-text__color-aqua--star-question *
              span.field-text__error-message
      .question__submit-wrapper
        .question__consent Нажимая &laquo;Отправить&raquo;, вы даете <a class="callback__consent-link" href="privacy-policy.pdf" target="_blank">согласие</a> на&nbsp;обработку своих персональных данных.
        +button("Отправить")(class="button--gradient question__submit" type="submit")
    .question__thanks
      p.question__thanks-title Спасибо
      p.question__description Мы&nbsp;свяжемся с&nbsp;вами в&nbsp;ближайшее время.
      +button("Заполнить форму еще раз")(class="button--gradient question__one-more")
