.article {

  &__top {
    padding-top: 116px;
    padding-bottom: 90px;
    text-align: center;
    background-image: linear-gradient(to right, #2d7df0, #8c2df0);
    color: #ffffff;
    position: relative;
  }

  &__inner {
    @include container;
  }

  &__wrapper {
    padding-left: 190px;
    padding-right: 190px;
  }

  &__title {
    @include title;

    line-height: 60px;
    margin-top: 0;
    margin-bottom: 85px;
  }

  &__subject {
    @include marked-text(rgba(255, 255, 255, 0.3));

    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    position: absolute;
    top: 20px;
    right: 50%;
    transform: translateX(50%);
  }

  &__lead {
    text-align: left;
    margin-top: 0;
    margin-bottom: 50px;
  }

  &__link {
    margin-top: 20px;
  }

  &__video {
    margin-top: 80px;
    height: 500px;
    border: 10px solid #ffffff;
    background-color: #ebebeb;
    border-radius: 3px;
  }

  &__marked-text {
    @include marked-text--big;
  }
}

@media (max-width: $tablet-container-width) {

  .article {
    max-width: $tablet-container-width;
    min-width: $tablet-content-width;

    &__inner {
      width: 690px;
    }

    &__wrapper {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

@media (max-width: $mobile-container-width) {

  .article {
    box-sizing: border-box;
    max-width: $mobile-container-width;
    min-width: $mobile-content-width;

    &__top {
      padding-top: 95px;
    }

    &__inner {
      width: auto;
      padding-left: 20px;
      padding-right: 20px;
    }

    &__subject {
      font-size: 14px;
      right: 20px;
      transform: translateX(0%);
    }

    &__title {
      font-size: 30px;
      margin-bottom: 50px;
    }

    &__lead {
      font-size: 16px;
    }
  }
}
