mixin article(item)
  .article
    .article__top
      .article__inner
        .article__wrapper
          h1.article__title!= item.title
          .article__subject!= item.subject
          p.article__lead!= item.lead
        //- +button("Скачать презентацию", "#")(class="button--gradient article__link")
        //- .article__video
        //- <span class="article__marked-text">О&nbsp;главном</span> правиле экранных интерфейсов
    //- include ../similar-materials/similar-materials
