main.lessons
  .lessons__inner
    h1.lessons__title <span class="lessons__marked-text">Как проходят</span> уроки
    ol.lessons__list
      li.lessons__list-item После регистрации и заполнения всех данных на почту придет 2 письма:
    ul.lessons__sub-list
      li.lessons__sub-item С доступом к личному кабинету с логином и паролем;
    .lessons__image
      img(src="img/image-step01.jpg" alt="инструкция по работе с сайтом")
    .lessons__image
      img(src="img/image-step02.jpg" alt="инструкция по работе с сайтом")
    ul.lessons__sub-list
          li.lessons__sub-item Письмо со ссылкой на сам урок.
    .lessons__image
      img(src="img/image-step03.jpg" alt="инструкция по работе с сайтом")
    ol.lessons__list-item Перейдя по ссылке, в личном кабинете, будет открыт доступ к выбранному предмету и курсу (интенсив / бронебойная подготовка) и ко всем пробникам.
    .lessons__image
      img(src="img/image-step04.jpg" alt="инструкция по работе с сайтом")
    .lessons__image
      img(src="img/image-step05.jpg" alt="инструкция по работе с сайтом")
    ol.lessons__list-item При выборе «Бронебойной подготовки» в личном кабинете будет доступ ко входу на нашу вебинарную платформу.
    .lessons__image
      img(src="img/image-step06.jpg" alt="инструкция по работе с сайтом")
    ol.lessons__list-item Уроки доступны по очередно, то есть доступ к следующему уроку будет доступен после проверки и принятия преподавателем.
    .lessons__image
      img(src="img/image-step07.jpg" alt="инструкция по работе с сайтом")
    ol.lessons__list-item Ответ необходимо оставлять в поле под заданием. После того, как ответ будет отправлен, появится статус «Задание ожидает проверки».
    .lessons__image
      img(src="img/image-step08.jpg" alt="инструкция по работе с сайтом")
    ol.lessons__list-item Также можно добавлять комментарии и прикреплять файл через комментарий к уроку.
    .lessons__image
      img(src="img/image-step09.jpg" alt="инструкция по работе с сайтом")
    ol.lessons__list-item После проверки задания появится уведомление в личном кабинете {о принятии, доработке или отклонении задания} и придет письмо на почту.
    .lessons__image
      img(src="img/image-step10.jpg" alt="инструкция по работе с сайтом")
    ol.lessons__list-item Также если появятся вопросы, их всегда можно задать как в нашей группе, так и в службу поддержки {ответ поступит в течение 12 часов}.
    .lessons__image
      img(src="img/image-step11.jpg" alt="инструкция по работе с сайтом")
