.lessons {
  padding-top: 75px;
  background-image: linear-gradient(to right, #2d7df0, #8c2df0);
  color: #ffffff;
  background-color: #2d7df0;

  &__inner {
    @include container;
  }

  &__title {
    @include title;
    margin-top: 0;
    margin-bottom: 85px;
  }

  &__list {
    @include list-reset;

    font-size: 21px;
    line-height: 30px;
    counter-reset: list;
  }

  &__list-item {
    position: relative;
    margin-bottom: 50px;
    padding-left: 58px;

    &::before {
      content: "0" counter(list);
      position: absolute;
      top: -5px;
      left: 0;
      width: 36px;
      height: 36px;
      font-weight: 700;
      font-size: 13px;
      line-height: 36px;
      text-align: center;
      color: inherit;
      border: solid 2px #41e6a0;
      border-radius: 50%;
      counter-increment: list;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__sub-list {
    padding-left: 76px;
    margin-top: 0;
    margin-bottom: 0;
    list-style: disc;
    font-size: 16px;
    line-height: 30px;
  }

  &__sub-item {
    margin-top: 40px;
    margin-bottom: 40px;

    .lessons__image {
      margin-bottom: 40px;
      margin-top: 40px;
    }
  }

  &__image {
    width: 1110px;
    border-radius: 3px;
    border: 10px solid #ffffff;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 40px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__marked-text {
    @include marked-text--big;
  }
}

@media (max-width: $tablet-container-width) {

  .lessons {
    box-sizing: border-box;
    width: 100%;
    padding-left: 39px;
    padding-right: 39px;

    &__inner {
      max-width: 1110px;
      min-width: 690px;
      width: 100%;
    }

    &__title {
      margin-bottom: 78px;
    }

    &__sub-list {
      margin-top: 40px;
    }

    &__list-item {
      margin-top: 65px;
      margin-bottom: 55px;
    }

    &__sub-item {
      margin-top: 50px;
      margin-bottom: 50px;

      .lessons__image {
        width: 100%;
        margin-bottom: 30px;
        margin-top: 30px;
      }
    }

    &__image {
      width: 100%;
      margin-bottom: 30px;

      &:first-of-type {
        margin-top: 50px;
      }
    }
  }
}

@media (max-width: $mobile-container-width) {

  .lessons {
    box-sizing: border-box;
    max-width: $mobile-container-width;
    min-width: $mobile-content-width;
    width: 100%;
    padding-top: 45px;
    padding-left: 20px;
    padding-right: 20px;

    &__inner {
      max-width: 727px;
      min-width: 280px;
      width: 100%;
    }

    &__title {
      font-size: 30px;
      margin-bottom: 45px;
    }

    &__list-item {
      font-size: 16px;
      line-height: 30px;
      margin-top: 30px;
      margin-bottom: 20px;
      padding-left: 40px;

      &::before {
        top: 0;
        font-size: 10px;
        line-height: 26px;
        width: 26px;
        height: 26px;
      }
    }

    &__sub-list {
      margin-top: 20px;
      padding-left: 55px;
    }

    &__sub-item {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    &__image {
      width: 100%;
      margin-top: 10px;
      margin-bottom: 10px;
      border: 5px solid #ffffff;

      &:first-of-type {
        margin-top: 20px;
      }
    }

    &__marked-text::after {
      height: 14px;
    }
  }
}
