include ../success-card/success-card
include ../subject-card/subject-card
include ../advantage-card/advantage-card

-
  var list = require("./source/blocks/advantages/people");
-
  var subjects = [
    {
      "title": "Обществознание",
      "mod": "social"
    },
    {
      "title": "История",
      "mod": "history"
    },
    {
      "title": "Английский язык",
      "mod": "english"
    },
    {
      "title": "Русский язык",
      "mod": "russian"
    }
  ]
-
  var advantages = [
    {
      "title": "Доступная подача",
      "description": "Мы&nbsp;умеем систематизировать и&nbsp;подавать информацию, раскладываем все по&nbsp;полочкам.",
      "mod": "accessibility"
    },
    {
      "title": "Учение с&nbsp;увлечением",
      "description": "Предлагаем индивидуальный подход. Наших уроков ждут с&nbsp;нетерпением.",
      "mod": "passion"
    },
    {
      "title": "Педагогический профессионализм",
      "description": "Наши преподаватели помогают понять предмет, а&nbsp;не&nbsp;зазубрить его.",
      "mod": "professional"
    }
  ]

section.advantages
  .advantages__inner
    h2.advantages__title Плюсы <span class="color-aqua">онлайн</span> обучения
    p.advantages__description.advantages__description--border Бесспорный плюс нашего подхода к&nbsp;обучению&nbsp;&mdash; экономия времени, нервов и&nbsp;концентрация на&nbsp;задаче. Зачем стоять в&nbsp;пробках и&nbsp;отвлекаться на&nbsp;других учеников, если нужно готовиться к&nbsp;экзамену? У&nbsp;тебя будет неограниченный доступ к&nbsp;пройденным урокам, а&nbsp;постоянная связь с&nbsp;преподавателем не&nbsp;даст расслабиться и&nbsp;потерять фокус внимания.
    .advantages__list-wrapper
      .advantages__list(role="list")
        each item in list
          .advantages__list-item(role="listitem")
            +success-card(item)
      .advantages__controls
    h3.advantages__title.advantages__title--top-gap Наши <span class="color-aqua">главные</span> фишки
    ul.advantages__special
      each item in advantages
        li.advantages__special-item
          +advantage-card(item)
    p.advantages__description.advantages__description--mobile-size Мы&nbsp;готовим наших учеников по&nbsp;<span class="color-aqua color-aqua__description">4&nbsp;предметам</span>.
    ul.advantages__subjects
      each item in subjects
        +subject-card(item)
