.advantages {
  padding-top: 76px;
  padding-bottom: 75px;
  color: #ffffff;
  background-image: linear-gradient(to right, #2d7df0, #8c2df0);

  &__title {
    @include title;

    margin-top: 0;
    margin-bottom: 72px;
    color: #ffffff;

    &--top-gap {
      margin-top: 70px;
    }
  }

  &__description {
    position: relative;
    max-width: 920px;
    margin-top: 52px;
    margin-bottom: 82px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    &--border {
      padding-left: 29px;
      text-align: left;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        width: 2px;
        height: 100%;
        background-image: linear-gradient(to top, #41e6a0, #7dcd1e);
      }
    }
  }

  .color-aqua__description {
    color: #ffffff;
  }

  &__subjects {
    @include container;

    display: flex;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
  }

  &__special {
    @include list-reset;

    width: 1110px;
    margin: 0 auto;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
  }

  &__special-item {
    margin-bottom: 80px;
    width: 350px;

    &:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }
  }

  &__list-wrapper {
    position: relative;
  }

  &__list {
    margin-bottom: 12px;
  }

  &__list-item {
    width: $desktop-content-width;
    margin-left: 15px;
    margin-right: 15px;
    opacity: 0.3;
    transition-duration: 0.3s;
    transition-property: opacity;

    &.slick-current {
      opacity: 1;

      &:hover {
        cursor: default;
      }

      .success-card__social-type {
        pointer-events: auto;
      }
    }

    &:hover {
      cursor: pointer;
      opacity: 1;
    }

    .success-card__social-type {
      pointer-events: none;
    }
  }

  &__controls {
    position: absolute;
    top: 0;
    bottom: 55px;
    left: 0;
    right: 0;
    width: 1230px;
    height: 60px;
    margin: auto;

    @media (max-width: 1279px) {
      display: none;
    }
  }

  &__arrow {
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 60px;
    font-size: 0;
    background-color: transparent;
    background-image: url("../img/inline/icon-arrow--advantages.svg");
    border: 0;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 1;
    }

    &--next {
      left: auto;
      right: 0;
      transform: rotate(180deg);
    }

    &.slick-disabled {
      z-index: -10;
      display: none;
      opacity: 0;
    }
  }

  &__dots {
    @include list-reset;

    display: flex;
    justify-content: center;

    button {
      position: relative;
      width: 40px;
      height: 40px;
      padding: 0;
      font-size: 0;
      background-color: transparent;
      border: 0;

      &:hover {
        cursor: pointer;

        &::after {
          opacity: 0.6;
        }
      }

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 10px;
        height: 10px;
        background-color: #ffffff;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        opacity: 0.3;
        transition-duration: 0.12s;
        transition-property: opacity;
      }
    }

    .slick-active {

      button {

        &::after {
          background-image: linear-gradient(to left, #41e6a0, #7dcd1e);
          opacity: 1;
        }
      }
    }
  }
}

@media (max-width: $tablet-container-width) {

  .advantages {
    max-width: $tablet-container-width;
    box-sizing: border-box;
    padding-bottom: 60px;

    &__inner {
      margin: 0 auto;
    }

    &__description {
      width: 655px;
      margin: 0 auto;
      font-size: 21px;
      line-height: 42px;
      margin-bottom: 80px;
    }

    &__subjects {
      box-sizing: border-box;
      width: 690px;
      flex-wrap: wrap;
    }

    &__list-item {
      width: 690px;
      margin-left: 5px;
      margin-right: 5px;
    }

    &__special {
      box-sizing: border-box;
      max-width: 1110px;
      min-width: 690px;
      width: 100%;
      padding-left: 39px;
      padding-right: 36px;
      padding-top: 120px;
    }

    &__special-item {
      width: 215px;
    }
  }
}

@media (max-width: $mobile-container-width) {

  .advantages {
    max-width: $mobile-container-width;
    padding-top: 50px;
    padding-bottom: 0;

    &__inner {
      max-width: $mobile-container-width;
      min-width: $mobile-content-width;
    }

    &__title {
      font-size: 36px;
      margin-bottom: 50px;

      &--top-gap {
        margin-top: 37px;
      }
    }

    &__description {
      box-sizing: border-box;
      max-width: 727px;
      width: 100%;
      min-width: 280px;
      padding-left: 30px;
      padding-right: 20px;
      margin-bottom: 50px;
      font-size: 16px;
      line-height: 1.6em;

      &--border::before {
        left: 20px;
      }

      &--mobile-size {
        font-size: 25px;
        line-height: 1.3em;
      }
    }

    .color-aqua__description {
      color: #41e6a0;
    }

    &__list-item {
      width: 280px;
    }

    &__special {
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 95px;
      margin-bottom: 40px;
      max-width: 747px;
      min-width: 280px;
      width: 100%;
      flex-wrap: wrap;
    }

    &__special-item {
      margin-bottom: 150px;
      max-width: 747px;
      min-width: 280px;
      width: 100%;

      &:nth-last-child(-n + 3) {
        margin-bottom: 150px;
      }

      &:nth-last-child(1) {
        margin-bottom: 0;
      }
    }

    &__subjects {
      box-sizing: border-box;
      max-width: $mobile-container-width;
      min-width: $mobile-content-width;
      width: 100%;
      flex-wrap: wrap;
      justify-content: space-around;

      padding-left: 20px;
      padding-right: 20px;
    }
  }
}
