mixin training-option(item)
  section.training-option(class=item.mod ? "training-option--" + item.mod : "")
    span.training-option__period(class="training-option__period--" + item.period.mod)!= item.period.text
    h3.training-option__title!= item.title
    .training-option__inner
      .training-option__wrapper
        p.training-option__description(class=item.priceCaption ? "training-option__description--near" : "")!= item.description
        if item.priceCaption
          p.training-option__price-caption!= item.priceCaption
        .training-option__price-list
          each priceItem in item.price
            .training-option__price-item
              .training-option__price-name!= priceItem.name
              .training-option__price-value <span class="training-option__marked-value">#{priceItem.value} Р</span>/мес.
        if item.priceSecondCaption
          p.training-option__price-caption!= item.priceSecondCaption
        if item.priceSecond
          .training-option__price-list
            each priceItem in item.priceSecond
              .training-option__price-item
                .training-option__price-name!= priceItem.name
                .training-option__price-value <span class="training-option__marked-value">#{priceItem.value} Р</span>/мес.
      if item.features
        ul.training-option__features
          each feature in item.features
            li.training-option__features-item!= feature
    if !item.isDelayed
      +button("Подробнее")(class="button--slim training-option__detail" data-modal-side=item.data, data-stringify=JSON.stringify(item))
