.training-option {
  position: relative;
  padding-top: 35px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: left;
  color: #333333;
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.05);

  &--no-features {

    .training-option {

      &__inner {

        &::after {
          content: none;
        }
      }

      &__wrapper {

        &::after {
          content: none;
        }
      }
    }
  }

  &__period {
    position: absolute;
    top: -15px;
    left: 30px;
    padding-top: 6px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 15px;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #cccccc, #777777);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    clip-path: polygon(100% 0, calc(100% - 5px) 18%, 100% 32%, calc(100% - 5px) 50%, 100% 68%, calc(100% - 5px) 82%, 100% 100%, 0 100%, 0 0);

    &--blue {
      background-image: linear-gradient(to right, #2d7df0, #8c2df0);
    }

    &--orange {
      background-image: linear-gradient(to right, #ffa500, #ff6400);
    }

    &--green {
      background-image: linear-gradient(to right, #41e6a0, #7dcd1e);
    }
  }

  &__inner {
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      width: 50%;
      height: 60px;
      background-image: linear-gradient(to top, #ffffff, rgba(255, 255, 255, 0));
    }
  }

  &__wrapper {
    position: relative;
    max-width: 310px;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: -30px;
      z-index: 2;
      width: 1px;
      height: 100%;
      background-image: linear-gradient(to bottom, #ffffff, #ebebeb);
    }
  }

  &__title {
    @include subtitle;
  }

  &__description {
    margin-top: 0;
    margin-bottom: 21px;
    font-size: 16px;
    line-height: 30px;

    &--near {
      margin-bottom: 12px;
    }
  }

  &__features {
    @include list-reset;

    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    font-size: 16px;
    line-height: 30px;
  }

  &__features-item {
    position: relative;
    padding-left: 20px;
    color: #767676;

    &::before {
      content: "";
      position: absolute;
      top: 13px;
      left: 0;
      width: 5px;
      height: 5px;
      background-color: #333333;
      border-radius: 50%;
    }
  }

  &__price-caption {
    margin-bottom: 6px;
    font-size: 13px;
    line-height: (30/13);
    font-weight: 700;
  }

  &__price-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 20px;
    border: solid 1px #ebebeb;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__price-item {
    box-sizing: border-box;
    width: 50%;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;
    border-bottom: 1px solid #ebebeb;

    &:nth-child(odd) {
      border-right: 1px solid #ebebeb;
    }

    &:nth-last-child(-n + 2) {
      border-bottom: 0;
    }
  }

  &__price-name {
    font-size: 13px;
    line-height: 30px;
  }

  &__price-value {
    margin-left: 0;
    font-size: 13px;
    line-height: 30px;
    transform: translateY(-8px);
  }

  &__marked-value {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
  }
}


@media (max-width: $tablet-container-width) {

  .training-option {
    padding-top: 45px;
    padding-left: 28px;

    &__wrapper {
      max-width: 443px;
      min-width: 272px;

      &::before {
        position: absolute;
        content: "";
        top: 0;
        right: -29px;
        width: 1px;
        height: 100%;
        background-image: linear-gradient(to bottom, #ffffff, #ebebeb);
      }
    }

    &__wrapper--tablet {
      width: 45%;
    }

    &__features {

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 50%;
        height: 100px;
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #ffffff);
      }
    }

    &__features--tablet {
      width: 45%;
    }

    &__detail {
      width: 214px;

      &__hover {
        width: 214px;
      }
    }
  }
}

@media (max-width: $mobile-container-width) {

  .training-option {
    padding-left: 20px;
    padding-right: 20px;

    &__wrapper {
      max-width: 687px;
      min-width: 240px;
      width: 100%;
      margin: auto;

      &::before {
        content: none;
      }
    }

    &__title {
      padding-bottom: 19px;
      margin-bottom: 20px;
    }

    &__price-caption {
      line-height: 20px;
    }

    &__period {
      left: 20px;
    }

    &__detail {
      width: 240px;

      &__hover {
        width: 240px;
      }
    }
  }
}
