include ../training-option/training-option

- var list = require("./source/blocks/training-options/data.js");

section.opened-subscription(class=openedSubscriptionMod ? "opened-subscription--" + openedSubscriptionMod : "")
  .opened-subscription__inner
    h2.opened-subscription__title!= openedSubscriptionTitle || "Набор <span class='opened-subscription__marked'>уже идет</span>"
    ul.opened-subscription__list
      each item in list
        li.opened-subscription__item
          +training-option(item)
    //- +button("Записаться на обучение", href="#")(class="button--gradient opened-subscription__link" data-modal-course="sample")
