.opened-subscription {
  padding-top: 75px;
  padding-bottom: 90px;
  text-align: center;
  background-image: url("../img/bg-texture.jpg");

  &--plain-bg {
    background-image: none;
  }

  &__inner {
    @include container;
  }

  &__title {
    @include title;

    margin-top: 0;
    margin-bottom: 85px;
    color: #333333;
  }

  &__list {
    @include list-reset;

    lost-center: $desktop-content-width;
  }

  &__item {
    lost-column: 1/3;
  }

  &__link {
    margin-bottom: 90px;
  }

  &__marked {
    @include marked-text--big;
  }

  .training-option--no-features {

    .training-option__features {
      display: none;
    }
  }
}

@media (max-width: $tablet-container-width) {

  .opened-subscription {
    width: 100%;
    min-width: $tablet-content-width;
    max-width: $tablet-container-width;
    padding-bottom: 1px;

    &__inner {
      box-sizing: border-box;
      padding-left: 39px;
      padding-right: 39px;
      max-width: 1110px;
      min-width: 690px;
      width: 100%;
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 55px;
    }

    &__item {
      lost-column: 1/2;
      margin-bottom: 30px;
    }

    &__item:nth-child(2n) {
      margin-right: 0;
      margin-left: 0;
    }

    &__list li:first-child {
      lost-column: 2/2;
    }
  }
}

@media (max-width: $mobile-container-width) {

  .opened-subscription {
    max-width: $mobile-container-width;
    min-width: $mobile-content-width;
    width: 100%;
    padding-top: 52px;
    padding-bottom: 20px;

    &__inner {
      max-width: 727px;
      min-width: 280px;
      width: auto;
      padding-left: 20px;
      padding-right: 20px;
    }

    &__title {
      font-size: 36px;
      margin-bottom: 55px;
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      flex-direction: column;
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__item {
      width: 100%;
      lost-column: 1/1;
      margin-bottom: 35px;
    }

    &__item:nth-child(2n) {
      margin-right: 0;
      margin-left: 0;
    }

    &__item:last-child {
      margin-bottom: 0;
    }

    &__list li:first-child {
      lost-column: 1/1;
    }
  }
}
