.universities {
  padding-top: 75px;
  padding-bottom: 64px;
  text-align: center;
  background-image: url("#{$path}img/bg-texture.jpg");

  &--near {
    padding-bottom: 6px;
  }

  &__title {
    @include title;

    margin-top: 0;
    margin-bottom: 72px;
  }

  &__description {
    position: relative;
    z-index: 1;
    margin-top: 0;
    margin-bottom: 83px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
  }

  &__item {
    position: relative;
    align-self: flex-start;
    box-sizing: border-box;
    width: 240px;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 220px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 16px;
    line-height: 30px;
    color: #767676;
    background-color: #ffffff;
    border-radius: 3px;

    &::before {
      content: "";
      position: absolute;
      top: 60px;
      left: 50%;
      transform: translateX(-50%);
    }

    &--msu {

      &::before {
        width: 136px;
        height: 134px;
        background-image: url("../img/logo-msu.jpg");
      }
    }

    &--mgimo {

      &::before {
        width: 136px;
        height: 108px;
        background-image: url("../img/logo-mgimo.jpg");
      }
    }

    &--fa {

      &::before {
        width: 136px;
        height: 134px;
        background-image: url("../img/logo-fa.jpg");
      }
    }

    &--ranepa {

      &::before {
        width: 104px;
        height: 136px;
        background-image: url("../img/logo-ranepa.jpg");
      }
    }
  }

  &__dots {
    @include list-reset;

    display: flex;
    justify-content: center;

    button {
      position: relative;
      width: 40px;
      height: 40px;
      padding: 0;
      font-size: 0;
      background-color: transparent;
      border: 0;
      cursor: pointer;

      &:hover {

        &::after {
          background-color: #cecece;
        }
      }

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #ebebeb;
        transform: translateY(-50%);
      }
    }

    .slick-active {

      button {
        cursor: default;

        &::after {
          background-color: #41e6a0;
        }
      }
    }
  }

  &__marked-text {
    @include marked-text;
  }

  &__points {
    position: relative;
    color: #ffffff;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 76px;
      height: 78px;
      background-image: url("../img/inline/arc--green.svg");
      background-repeat: no-repeat;
      background-position: right top;
      transform: translate(-50%, -50%);
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: -1;
      width: 56px;
      height: 56px;
      background-image: linear-gradient(to right, #ffa500, #ff6400);
      border-radius: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

@media (max-width: $mobile-container-width) {

  .universities {
    padding-top: 47px;
    padding-bottom: 0;

    &__title {
      font-size: 36px;
      padding-left: 20px;
      padding-right: 20px;
      margin-bottom: 35px;
    }

    &__description {
      font-size: 16px;
      padding-left: 20px;
      padding-right: 20px;
      margin-bottom: 48px;
    }

    &__list {
      margin-bottom: 0;
    }

    &__item {
      width: 280px;
      margin-left: 5px;
      margin-right: 5px;
    }

    &__dots > li {
      display: none;
    }
  }
}
