section.universities(class=universitiesMod ? "universities--" + universitiesMod : "")
  h2.universities__title Успехи учеников
  p.universities__description <span class="universities__marked-text">86%</span> наших учеников поступают в&nbsp;эти вузы, средний балл&nbsp;&mdash;<span class="universities__points">84.</span>
  .universities__wrapper
    .universities__list(role="list")
      .universities__item.universities__item--msu(role="listitem") Московский гос. унив.&nbsp;им. М.В.Ломоносова
      .universities__item.universities__item--mgimo(role="listitem") Московский гос. инст. международных отношений
      .universities__item.universities__item--fa(role="listitem") Финансовый унив. при&nbsp;Правительстве&nbsp;РФ
      .universities__item.universities__item--ranepa(role="listitem") Рос. акад. народного хозяйства и&nbsp;гос. службы при Президенте&nbsp;РФ
      .universities__item.universities__item--msu(role="listitem") Московский гос. унив.&nbsp;им. М.В.Ломоносова
      .universities__item.universities__item--mgimo(role="listitem") Московский гос. инст. международных отношений
      .universities__item.universities__item--fa(role="listitem") Финансовый унив. при Правительстве&nbsp;РФ
      .universities__item.universities__item--ranepa(role="listitem") Рос. акад. народного хозяйства и&nbsp;гос. службы при Президенте&nbsp;РФ
