.page-nav {
  display: block;
  width: 100%;
  padding: 18px 0;

  &__list {
    @include list-reset;

    display: flex;
    justify-content: space-around;
  }

  &__item {
    position: relative;
    padding: 5px 10px;
    font-size: 18px;
    line-height: (20/18);

    &::after {
      content: none;
      position: absolute;
      left: 0;
      bottom: 0;
      display: block;
      width: 100%;
      height: 2px;
      background-image: linear-gradient(to left, #41e6a0, #7dcd1e);
    }

    &--active::after {
      content: "";
    }
  }

  &__link {
    display: block;
    text-decoration: none;
    text-align: center;
    color: inherit;
  }
}

@media (max-width: $tablet-container-width) {

  .page-nav {
    box-sizing: border-box;
    max-width: 1110px;
    min-width: 690px;
    width: 100%;
    padding-top: 20px;

    &__item {
      font-size: 14px;
      padding: 5px 0;

      &::after {
        bottom: -2px;
      }
    }
  }
}

@media (max-width: $mobile-container-width) {

  .page-nav {
    max-width: 727px;
    min-width: 280px;
    width: 100%;
    position: relative;
    display: none;
    padding-top: 0;
    padding-bottom: 0;
    height: 100vh;
    margin-top: -30px;

    &--open {
      display: flex;
    }

    &__list {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: center;
      margin: 0 auto;
    }

    &__item {
      padding-bottom: 10px;
      font-size: 16px;

      &::after {
        bottom: 7px;
      }
    }
  }
}
