-
  var list = [{
    title: "Главная",
    link: "index.html",
    pageId: 0
  }, {
    title: "Варианты подготовки",
    link: "programs.html",
    pageId: 1
  }, {
    title: "Отзывы",
    link: "reviews.html",
    pageId: 2
  }, {
    title: "О школе",
    link: "about.html",
    pageId: 3
  }, {
    title: "Как мы учим",
    link: "lessons.html",
    pageId: 4
  }, {
    title: "Материалы",
    link: "materials.html",
    pageId: 6
  }, {
    title: "Блог",
    link: "blog.html",
    pageId: 5
  }]

.page-nav
  ul.page-nav__list
    each item in list
      li.page-nav__item(class=(pageId === item.pageId) ? "page-nav__item--active" : "")
        a.page-nav__link(href=item.link)= item.title
