.advantage-card {
  position: relative;
  padding-top: 35px;
  padding-left: 129px;
  text-align: left;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    border: solid 2px #41e6a0;
  }

  &--accessibility {

    &::before {
      background-image: url("../img/inline/icon-labyrinth.svg");
    }
  }

  &--passion {

    &::before {
      background-image: url("../img/inline/icon-smile.svg");
    }
  }

  &--professional {

    &::before {
      background-image: url("../img/inline/icon-brain.svg");
    }
  }

  &__title {
    @include subtitle--marked(rgba(51, 51, 51, 0.45), #ffffff);
    display: inline;

    z-index: 2;
  }

  &__description {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 30px;
    color: #ffffff;
  }
}

@media (max-width: $tablet-container-width) {

  .advantage-card {
    padding-left: 0;

    &::before {
      top: -95px;
    }

    &__description {
      padding-top: 22px;
    }
  }
}

@media (max-width: $mobile-container-width) {

  .advantage-card {
    text-align: center;

    &::before {
      top: -95px;
      left: 0;
      right: 0;
      margin: auto;
    }
  }
}
