mixin review-card(item, index)
  section.review-card
    h3.review-card__title!= item.name
    .review-card__social-link
      .review-card__social-avatar
        img(src=item.socialLink.image.src width=item.socialLink.image.width height=item.socialLink.image.height alt=item.socialLink.image.alt)
      a.review-card__social-type(href=item.socialLink.href target="_blank")= item.socialType
    ul.review-card__results
      each result in item.results
        li.review-card__results-item #{result.course} — <span class="review-card__results-points">#{result.points}</span> #{result.text}
    if item.blankLink
      +blank-link("Официальный бланк", item.blankLink)(class="review-card__link")
    p.review-card__text!= item.text
    +button("Подробнее")(class="button--slim review-card__button" data-modal-side=index, data-stringify=JSON.stringify(item))
