.review-card {
  position: relative;
  padding-top: 18px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: left;
  color: #333333;
  background-color: #ffffff;
  border-radius: 3px;
  border-top-right-radius: 55px;
  min-height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  &__title {
    @include subtitle;

    padding-bottom: 24px;
    padding-right: 110px;
    line-height: 35px;
  }

  &__social-link {
    position: absolute;
    top: 0;
    right: -2px;
    display: block;
  }

  &__social-avatar {
    width: 110px;
    height: 110px;
    overflow: hidden;
    border-radius: 50%;
  }

  &__social-type {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 30px;
    height: 30px;
    font-size: 0;
    background-color: #ffffff;
    background-image: url("../img/inline/icon-vk.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    transition-duration: 0.15s;
    transition-property: background-image;

    &:hover {
      background-image: url("../img/inline/icon-vk--hover.svg");
    }
  }

  &__results {
    @include list-reset;

    margin-bottom: 20px;
  }

  &__results-item {
    position: relative;
    z-index: 1;
    font-size: 16px;
    line-height: 30px;
  }

  &__results-points {
    @include circle--small;
  }

  &__link {
    position: relative;
    display: inline-block;
    margin-bottom: 31px;
    padding-left: 25px;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    text-decoration: none;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 16px;
      height: 20px;
      background-image: url("../img/inline/icon-report.svg");
      transform: translateY(-50%);
    }
  }

  &__link-text {
    border-bottom: 1px solid rgba(51, 51, 51, 0.15);
  }

  &__text {
    position: relative;
    max-height: 300px;
    margin-top: 0;
    margin-bottom: 19px;
    padding-top: 20px;
    overflow: hidden;
    font-size: 16px;
    line-height: 30px;
    background-image: url("../img/inline/icon-quotes.svg");
    background-repeat: no-repeat;
    background-position: left 12px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-image: linear-gradient(to left, #ffffff, #ebebeb);
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 65px;
      background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #ffffff);
    }
  }

  &__button {
    margin-top: auto;
    align-self: flex-start;
  }
}
