-
  var mapTypeToText = {
    video: "Видео",
    article: "Статья",
    material: "Материал"
  }

mixin blog-card(item)
  article.blog-card(class="blog-card--" + item.type)
    a.blog-card__link(href=item.href)
      h3.blog-card__title!= item.title
      .blog-card__subject= item.subject
      .blog-card__date-wrapper
        .blog-card__type= mapTypeToText[item.type]
        .blog-card__date= item.date
