.success-card {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 32px;
  padding-left: 30px;
  padding-right: 30px;
  color: #333333;
  background-color: #ffffff;
  background-image: url("../img/inline/circle--gray.svg");
  background-repeat: no-repeat;
  background-position: -200px -200px;
  background-size: 500px 500px;
  border-radius: 3px;

  &__left {
    width: 480px;
  }

  &__right {
    width: 530px;
  }

  &__wrapper {
    position: relative;
    padding-top: 38px;
    padding-left: 139px;
  }

  &__social-link {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
  }

  &__social-avatar {
    position: relative;
    width: 110px;
    height: 110px;
    overflow: hidden;
    border-radius: 50%;

    &::after {
      content: none;
      position: absolute;
      top: -30px;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to right, #ff9646, #f02d96);
      border-radius: 50%;
      mix-blend-mode: multiply;
    }

    &--no-photo {

      &::after {
        content: none;
      }
    }
  }

  &__social-type {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 30px;
    height: 30px;
    font-size: 0;
    background-color: #ffffff;
    background-image: url("../img/inline/icon-vk.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    transition-duration: 0.15s;
    transition-property: background-image;

    &:hover {
      background-image: url("../img/inline/icon-vk--hover.svg");
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 26px;
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
  }

  &__success {
    position: relative;
    z-index: 1;
    margin-top: 0;
    margin-bottom: 22px;
    font-size: 16px;
    line-height: 30px;
  }

  &__statistics-list {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 50px;
    text-align: center;

    &::after {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 55px;
      width: calc(100% - 110px);
      height: 1px;
      background-color: #ebebeb;
    }
  }

  &__statistics-item {
    position: relative;
    width: 110px;
    padding-bottom: 21px;

    &::after {
      content: "";
      position: absolute;
      bottom: -4px;
      left: 50%;
      z-index: 2;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      transform: translateX(-50%);
    }

    &--before {

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 54px;
        width: 1px;
        height: 15px;
        background-color: #ebebeb;
      }

      &::after {
        background-color: #333333;
      }

      .success-card {

        &__statistics-value {
          color: #333333;
          border-color: #333333;
        }
      }
    }

    &--after {

      &::after {
        background-color: #41e6a0;
      }

      .success-card {

        &__statistics-value {
          color: #41e6a0;
          border-color: #41e6a0;
        }
      }
    }

    &--difference {

      &::after {
        background-color: #f02d96;
      }

      .success-card {

        &__statistics-value {
          color: #f02d96;
          border-color: #f02d96;
        }
      }
    }

    &--university {

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 54px;
        width: 1px;
        height: 15px;
        background-color: #ebebeb;
      }

      &::after {
        background-color: #333333;
      }

      .success-card {

        &__statistics-value {
          font-size: 0;
          background-color: #ffffff;
          background-repeat: no-repeat;
          background-position: center;
          border: 0;
          box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.1);

          &--ranepa {
            width: 110px;
            height: 110px;
            background-image: url("../img/logo-ranepa.jpg");
            background-size: 46px 60px;
          }

          &--mgimo {
            width: 110px;
            height: 110px;
            background-image: url("../img/logo-mgimo.jpg");
            background-size: 90px 72px;
          }

          &--msu {
            width: 110px;
            height: 110px;
            background-image: url("../img/logo-msu.jpg");
            background-size: 80px 80px;
          }
        }
      }
    }
  }

  &__statistics-value {
    display: block;
    width: 110px;
    height: 110px;
    margin-bottom: 21px;
    margin-left: 0;
    font-size: 40px;
    line-height: 106px;
    text-align: center;
    border-radius: 50%;

    svg {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__statistics-name {
    font-size: 16px;
    line-height: 30px;
  }

  &__course {
    position: relative;
    z-index: 1;
    margin-top: 0;
    text-align: center;
  }

  &__course-points {
    @include circle;
  }

  &__marked-text {
    @include marked-text;

    z-index: auto;
    display: inline-block;
    vertical-align: top;
  }

  &--mobile {
    display: none;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 280px;
    padding-left: 20px;
    padding-right: 20px;
    background-position: center -40px;
    background-size: 250px 250px;

    .success-card {

      &__wrapper {
        padding-left: 0;
        padding-top: 125px;
      }

      &__left {
        width: 100%;
        margin-bottom: 35px;
      }

      &__right {
        width: 100%;
        margin-bottom: 0;
      }

      &__course {
        margin-bottom: 0;
      }

      &__social-avatar {
        transform: scale(1);
        margin: 0;
      }

      &__social-link {
        top: 0;
        left: 60px;
      }

      &__social-type {
        top: 0;
        right: 0;
      }

      &__title {
        padding-top: 0;
        font-size: 20px;
        text-align: center;
        margin-bottom: 10px;
      }

      &__success {
        text-align: center;
        line-height: 1.2em;
        margin-bottom: 13px;
      }

      &__statistics-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 20px;

        &::after {
          display: none;
        }
      }

      &__statistics-name {
        font-size: 14px;

        &::after {
          display: none;
        }
      }

      &__statistics-value {
        transform: scale(1);
        margin-bottom: 10px;
      }

      &__statistics-item {
        padding-bottom: 20px;

        &--before,
        &--after,
        &--difference,
        &--university {

          &::before,
          &::after {
            content: none;
          }
        }
      }
    }

    .blank-link {
      width: 170px;
      padding-left: 45px;
      margin-left: auto;
      margin-right: auto;

      &::before {
        left: 20px;
      }
    }
  }
}

@media (max-width: $tablet-container-width) {

  .success-card {
    flex-wrap: wrap;

    &__wrapper {
      padding-top: 0;
      padding-left: 178px;
    }

    &__title {
      padding-top: 20px;
      margin-bottom: 20px;
    }

    &__left {
      width: 100%;
      margin-bottom: 66px;
    }

    &__right {
      width: 100%;
      margin-bottom: 48px;
    }

    &__social-avatar {
      transform: scale(1.22);
      margin-left: 12px;
      margin-top: 10px;
    }

    &__social-type {
      top: -2px;
      right: -12px;
    }

    &__statistics-list {
      margin-bottom: 40px;
      padding-left: 20px;
      padding-right: 20px;

      &::after {
        width: calc(100% - 150px);
        margin-left: 20px;
      }
    }

    &__statistics-value {
      transform: scale(1.28);
    }
  }
}

@media (max-width: $mobile-container-width) {

  .success-card {
    padding-left: 20px;
    padding-right: 20px;
    background-position: center -40px;
    background-size: 250px 250px;

    &__wrapper {
      padding-left: 0;
      padding-top: 125px;
    }

    &__left {
      margin-bottom: 35px;
    }

    &__right {
      margin-bottom: 0;
    }

    &__course {
      margin-bottom: 0;
    }

    &__social-avatar {
      transform: scale(1);
      margin: 0;
    }

    &__social-link {
      top: 0;
      left: 60px;
    }

    &__social-type {
      top: 0;
      right: 0;
    }

    &__title {
      padding-top: 0;
      font-size: 20px;
      text-align: center;
      margin-bottom: 10px;
    }

    &__success {
      text-align: center;
      line-height: 1.2em;
      margin-bottom: 13px;
    }

    &__statistics-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 20px;

      &::after {
        display: none;
      }
    }

    &__statistics-name {
      font-size: 14px;

      &::after {
        display: none;
      }
    }

    &__statistics-value {
      transform: scale(1);
      margin-bottom: 10px;
    }

    &__marked-text {
      display: inline-block;
    }

    &__statistics-item {
      padding-bottom: 20px;

      &--before::before {
        content: none;
      }

      &--before::after {
        content: none;
      }

      &--after::after {
        content: none;
      }

      &--after::before {
        content: none;
      }

      &--difference::after {
        content: none;
      }

      &--difference::before {
        content: none;
      }

      &--university::after {
        content: none;
      }

      &--university::before {
        content: none;
      }
    }
  }
}
