mixin success-card(item)
  section.success-card
    .success-card__left
      .success-card__wrapper
        .success-card__social-link
          .success-card__social-avatar(class= item.socialLink.image.mod ? "success-card__social-avatar--" + item.socialLink.image.mod : "")
            img(src=item.socialLink.image.src width=item.socialLink.image.width height=item.socialLink.image.height alt=item.socialLink.image.alt)
          if (item.socialLink.href !== null)
            a.success-card__social-type(href=item.socialLink.href target="_blank")= item.socialType
        h3.success-card__title!= item.name
        p.success-card__success!= item.success
        +blank-link("Официальный бланк", item.link)(data-modal="blank" data-src=item.link)
    .success-card__right
      .success-card__statistics-list
        .success-card__statistics-item.success-card__statistics-item--before
          .success-card__statistics-value!= item.statistics.before
            svg(width="110" height="110" version="1.1" xmlns="http://www.w3.org/2000/svg" style="transform: rotate(-90deg);")
              circle(r="53" cx="55" cy="55" fill="transparent" stroke-width="2" stroke="#333")
              circle(r="53" cx="55" cy="55" fill="transparent" stroke-dasharray="333" stroke-dashoffset=-item.statistics.before * 3.328 + "px" stroke-width="3" stroke="#ebebeb")
          .success-card__statistics-name 1-й пробник
        .success-card__statistics-item.success-card__statistics-item--after
          .success-card__statistics-value!= item.statistics.after
            svg(width="110" height="110" version="1.1" xmlns="http://www.w3.org/2000/svg" style="transform: rotate(-90deg);")
              circle(r="53" cx="55" cy="55" fill="transparent" stroke-width="2" stroke="#41e6a0")
              circle(r="53" cx="55" cy="55" fill="transparent" stroke-dasharray="333" stroke-dashoffset=-item.statistics.after * 3.328 + "px" stroke-width="3" stroke="#ebebeb")
          .success-card__statistics-name ЕГЭ
        .success-card__statistics-item.success-card__statistics-item--difference
          .success-card__statistics-value!= item.statistics.difference
            svg(width="110" height="110" version="1.1" xmlns="http://www.w3.org/2000/svg" style="transform: rotate("+ ((item.statistics.before * 180 / 50) - 90) + "deg);")
              circle(r="53" cx="55" cy="55" fill="transparent" stroke-width="2" stroke="#f02d96")
              circle(r="53" cx="55" cy="55" fill="transparent" stroke-dasharray="333" stroke-dashoffset=-item.statistics.difference * 3.328 + "px" stroke-width="3" stroke="#ebebeb")
          .success-card__statistics-name Прогресс
        .success-card__statistics-item.success-card__statistics-item--university
          .success-card__statistics-value(class="success-card__statistics-value--" + item.statistics.university.mod title=item.statistics.university.name)!= item.statistics.university.name
          if item.isGirl
            .success-card__statistics-name Поступила
          else
            .success-card__statistics-name Поступил
      p.success-card__course #{item.course.name} — <span class="success-card__course-points">#{item.course.points}</span> #{item.course.text}
